{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ forum.name }}{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="row">
            <div class="col-md-9 col-xs-6" style="white-space: normal; word-wrap: break-word;">
                <span style="font-size: 30px; font-family: 'PT Sans Narrow', sans-serif; font-weight: bold;">{{ forum.name }}</span>
            </div>
            <div class="col-md-3 col-xs-6">
                {% if forum.ownerID == app.user.id or (is_granted('ROLE_ADMIN')) %}
                    <div class="pull-right">
                        <div class="pull-right" data-toggle="tooltip" data-placement="top" title="Delete This Project">
                            <a style="cursor: pointer; text-decoration: none;" data-toggle="modal" data-target="#delete_private_project">
                                <i class="fa text-danger fa-fw fa-trash  fa-2x"></i>
                            </a>
                        </div>

                        <div class="pull-right" data-toggle="tooltip" data-placement="top" title="Project Settings">
                            <a style="cursor: pointer; text-decoration: none;" href="{{ path('zectranet_show_header_forum_settings', {'project_id': forum.id}) }}">
                                <i class="fa text-primary fa-fw fa-gear fa-2x"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-xs-9 col-xs-offset-1">
            <h5>FORUM</h5>
        </div>
        <div class="col-xs-1">
            <h5>THREADS</h5>
        </div>
        <div class="col-xs-1">
            <h5>POSTS</h5>
        </div>
    </div>
    {% for header in forum.headers %}
        <div class="col-md-12 panel panel-default">
            <div class="row">
                <div class="col-md-12" style="color: {{ header.headerTextColor }}; background-color: {{ header.headerBgColor }};">
                    <h4 align="center">{{ header.title }}</h4>
                </div>
            </div>
            {% for subheader in header.subheaders %}
                <div class="row" style="border-bottom: darkgray solid 1px;">
                    <div class="panel-body">
                        <div class="col-xs-1">
                            <img class="img-responsive" src="{{ asset('bundles/zectranet/img/forumlogo.jpg') }}" alt="subheader_image"/>
                        </div>
                        <div class="col-xs-9">
                            <h4>
                                <a class="text-info" href="{{ path('zectranet_show_header_forum_subheader', {'project_id': forum.id, 'subheader_id': subheader.id}) }}">
                                    {{ subheader.title }}
                                </a>
                            </h4>
                            <p><i class="text-muted">{{ subheader.description }}</i></p>
                        </div>
                        <div class="col-xs-1">
                            {{ subheader.threads | length }}
                        </div>
                        {% set postsCount = 0 %}
                        {% for thread in subheader.threads %}
                            {% set postsCount = postsCount + thread.posts | length %}
                        {% endfor %}
                        <div class="col-xs-1">
                            {{ postsCount }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}