{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ thread.title }}{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb"  style="margin: 0 -30px; border-radius:0px !important; padding: 12px 50px; background-color: #fbfbfb; ">
            <li>
                <a href="{{ path('zectranet_show_header_forum', { 'project_id': forum.id }) }}">{{ forum.name }}</a>
            </li>
            <li>
                <a href="{{ path('zectranet_show_header_forum_subheader', { 'project_id': forum.id, 'subheader_id': sub.id }) }}">{{ sub.title }}</a>
            </li>
            <li class="active">{{ thread.title }}</li>
        </ol>
    </div>



    <div class="row panel panel-default" style="margin-top:20px; border:0px;">
        <div class="col-xs-2" style="padding: 10px;">
            <img class="img-responsive" style="margin: 0 auto;" src="{{ asset('') ~ 'documents/' ~ thread.user.avatar }}" alt="{{ thread.user.username }}"/>
            <p class="text-center" style="margin-top: 10px;">
                <a href="{{ path('zectranet_user_page', {'user_id': thread.userID }) }}" style="word-wrap: break-word; white-space: normal">
                    {{ thread.user.name ~ ' ' ~ thread.user.surname ~ ' (' ~ thread.user.username ~ ')' }}
                </a>
            </p>
            <p class="text-center"><small class="text-muted">2 posts</small></p>
        </div>
        <div class="col-xs-10" style="min-height: 150px;">
            <div class="page-header">
                <h3 class="forum-header">{{ thread.title }} </h3>
                <small class="text-muted"> Started by {{ thread.user.username }}, {{ thread.date | date('Y-m-d H:i:s') }}</small>
            </div>
            <p style="white-space: pre-line; margin-top: -25px;">
                {{ thread.message }}
            </p>
            {% if thread.keywords %}
                <p>
                    <kbd>{{ thread.keywords }}</kbd>
                </p>
            {% endif %}
        </div>

    </div>


    <div class="row panel panel-default" style="border-width: 1px;border-style: solid;border-color: #F2F2F2;border-radius: 3px;">
        <div class="panel-heading topic-header-border" style="background-color: #337AB7; height: 50px; color:#fff;">
            <h5 align="left" style="margin-top: 6px;">Thread posts</h5>
        </div>
        <div class="panel-body" style="padding: 10px 25px;">
            {% for post in thread.posts %}
                <div class="row panel panel-default forum-post">
                    <div class="col-xs-2" style="padding: 10px; background-color: #FAFAFA">
                        <img class="img-responsive" style="margin: 0 auto;" src="{{ asset('') ~ 'documents/' ~ post.user.avatar }}" alt="{{ post.user.username }}"/>
                        <p class="text-center" style="margin-top: 10px;">
                            <a href="{{ path('zectranet_user_page', {'user_id': post.userID }) }}" style="word-wrap: break-word; white-space: normal;">
                                {{ post.user.name ~ ' ' ~ post.user.surname ~ ' (' ~ post.user.username ~ ')' }}
                            </a>
                        </p>
                        <p class="text-center"><small class="text-muted">2 posts</small></p>
                    </div>
                    <div class="col-xs-10" style="min-height: 150px;">
                        <small class="pull-right text-muted" style="margin-top: 8px;">Posted {{ post.posted | date('Y-m-d H:i:s') }}</small>
                        <p style="white-space: pre-line;">
                            {{ post.message }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <form class="panel-footer" action="{{ path('zectranet_add_post_header_forum_thread', { 'thread_id': thread.id }) }}" method="post">
            <div class="input-group">
                <textarea name="message" class="form-control" rows="6"></textarea>
                <div class="input-group-addon" style="padding: 0;">
                    <button type="submit" class="btn btn-default btn-primary" style="width: 132px; height: 132px;">
                        Post
                    </button>
                </div>
            </div>
        </form>

    </div>

{% endblock %}