{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ office.name }}{% endblock %}

{% block body %}
<div ng-controller="HomeOfficeController">
    <div class="row">
        <ol class="breadcrumb" style="margin: 0 -30px; border-radius:0 !important; padding: 12px 50px; background-color: #fbfbfb; ">
            <li class="active">
              Home Office
            </li>
        </ol>
    </div>

    <div class="page-header">
        <div class="row">
            <div class="col-md-12">
                <span style="font-size: 30px; font-family: 'PT Sans Narrow', sans-serif; font-weight: bold;">
                    <a href="{{ path('zectranet_get_office_profile',{'office_id': office.id } ) }}" style="text-decoration: none;"> {{ office.name }}</a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <ul class="list-group" style="box-shadow: 2px 3px 6px 0 darkkhaki;">
                <li class="list-group-item active" style="background:#ddedf4; color:#606060;">
                    <b>Create Project</b>
                </li>
                <li class="list-group-item" ng-cloak>
                    <form name="createProjectForm" action="{{ path('zectranet_add_project', { 'office_id': office.id } ) }}" method="post">

                        <div class="row">
                            <label class="col-xs-12">
                                Project name:
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <input class="form-control" name="name" pattern="[A-Za-z0-9 _-]{1,}" ng-maxlength="100" ng-minlength="1" ng-model="projectName" type="text" required />
                                    <span class="input-group-addon" style="color: red;">
                                        <span ng-if="createProjectForm.name.$valid">
                                            <i style="color: lightseagreen;" class="fa fa-check"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-12" ng-cloak ng-messages="createProjectForm.name.$error" style="color: red; margin-bottom: 10px;">
                                <span ng-message="pattern">Alloved only A-Z, a-z, 0-9, underscore, hyphens and space characters</span>
                                <span ng-message="maxlength">Max length of this field is 100 characters</span>
                            </div>
                        </div>

                        <p>
                            <label style="width: 100%;">
                                Project template:
                                <select class="form-control" name="type">
                                    <option value="1" selected>QnA Forum</option>
                                    <option value="2">Header forum</option>
                                    <option value="3">Trading office(not working yet)</option>
                                    <option value="4">Development</option>
                                </select>
                            </label>
                        </p>
                        <p align="right" ng-if="createProjectForm.$valid">
                            <button class="btn btn-default" >Create</button>
                        </p>
                    </form>
                </li>
            </ul>
        </div>

        <div class="col-md-4 col-md-offset-4">
            <ul class="list-group"  style="box-shadow: 2px 3px 6px 0 darkkhaki;">
                <li class="list-group-item active" style="background:#ddedf4; color:#606060;">
                    <b>Other</b>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-default" href="{{ path('zectranet_public_market_all_contacts') }}">Market Place</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-default" href="{{ path('zectranet_show_office_archive', { 'office_id': office.id }) }}">
                        Home Office Archive
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {% if conversation_id is defined %}
        <div ng-init="conv_id = {{ conversation_id }}"></div>
    {% endif %}

    <div class="row" ng-init="getContactList(conv_id);">
        <div class="col-xs-4">
            <ul class="list-group" style="box-shadow: 2px 3px 6px 0 darkkhaki; height: 410px; overflow-y: auto;" cg-busy="contactListPromise">
                <li class="list-group-item active"  style="background:#ddedf4; color:#606060;">
                    <b>Contact list</b>
                </li>
                <li class="list-group-item" ng-repeat="contact in contacts" ng-class="{'contact-list-active':contact.checked}" ng-click="getConversation(contact.id);">
                    <div class="row">
                        <div class="col-xs-3">
                            <img class="img-responsive img-circle" ng-src="[[asset + 'documents/' + contact.avatar]]" alt="avatar"/>
                        </div>
                        <div class="col-xs-9">
                            <p>
                                [[ contact.username ]]
                                <label ng-if="contact.notificationsLength != 0"
                                        class="label label-default pull-right">
                                    +[[contact.notificationsLength]]
                                </label>
                            </p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <div class="col-xs-8">
            <div>
                <div class="list-group" style="box-shadow: 2px 3px 6px 0 darkkhaki;">
                    <div class="list-group-item active" style="background:#ddedf4; color:#606060;">
                        <i class="fa fa-comments fa-fw"></i>
                        <strong>Chat with: </strong>
                    </div>
                    <div id="posts-panel" class="list-group-item panel-body" cg-busy="conversationChatPromise">
                        <h4 ng-if="(conversation) && (conversation.messages.length == 0)" class="text-info text-center vertical-center">
                            Posts will be displayed here
                        </h4>
                        <ul id="conversation-chat" class="chat" scroll-glue style="height: 250px; overflow-x: hidden; overflow-y: scroll;">
                            <li ng-repeat="mesage in conversation.messages" style="border-bottom: none;" class="clearfix" ng-class="{'right': {{ app.user.id }} == post.user.id, 'left': {{ app.user.id }} != post.user.id }">
                                <span class="chat-img" ng-class="{ 'pull-right': {{ app.user.id }} == mesage.user.id, 'pull-left': {{ app.user.id }} != mesage.user.id }" ng-init="avatar = asset + 'documents/' + mesage.user.avatar;">
                                    <img ng-src="[[ avatar ]]" alt="Avatar" class="img-circle img-responsive" style="width: 50px; height: 50px;"/>
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header" style="height: 28px;">
                                        <strong class="primary-font"
                                                ng-class="{'pull-right': {{ app.user.id }} == mesage.user.id, 'pull-left': {{ app.user.id }} != mesage.user.id }">
                                            [[ mesage.user.name + ' ' + mesage.user.surname + ' (' + mesage.user.username + ')' ]]
                                        </strong>

                                        <small class="text-muted" ng-class="{'pull-left': {{ app.user.id }} == mesage.user.id, 'pull-right': {{ app.user.id }} != mesage.user.id }">
                                            <i class="fa fa-clock-o fa-fw"></i>
                                            <span ng-if="mesage.edited == null" style="color: #000000; font-style: italic">[[mesage.posted]]</span>
                                            <span ng-if="mesage.edited != null" style="color: #000000; font-style: italic">[[mesage.edited]] <i  class="fa fa-edit"></i></span>
                                        </small>
                                    </div>
                                    <pre style="white-space: pre-line;">
                                        <span ng-bind-html="mesage.message"></span>
                                    </pre>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-group-item">
                        <form class="input-group input-group-lg">
                            <textarea id="textarea-post"  name="message" class="form-control" rows="3" ng-keyup="pressEnter($event, message, conversation.id)" style="resize: vertical; font-size: 11px; height: 65px;" ng-model="message"></textarea>

                            <span class="input-group-btn">
                                <button  ng-if="editPostButtonVisible == false" class="btn btn-primary" name="subscribe" type="button" style="height: 65px; font-size:15px;" ng-click="SendConversationMessage(message, conversation.id)">
                                    <span>Post</span>
                                </button>
                                <button  ng-if="editPostButtonVisible == true" class="btn btn-primary" name="subscribe" type="button" style="height: 65px; font-size:15px;" ng-click="SendConversationMessage(message, editedPost.id, true)">
                                    <span>Edit</span>
                                </button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var getDocuments_;
        var USER_ID = {{ app.user.id }}
        JSON_URLS.documentsGet = "{{ path('zectranet_document_get') }}";
        JSON_URLS.addPost = "{{ path('zectranet_office_add_post', { 'office_id': office.id }) }}";
        JSON_URLS.getPosts = "{{ path('zectranet_office_get_post', { 'office_id': office.id }) }}";
        JSON_URLS.InsertScreenshotsInPHP = "{{ path('zectranet_InsertScreenshotsInPHP') }}";
        JSON_URLS.getContactList = "{{ path('zectranet_get_contact_list') }}";
        JSON_URLS.getConversation = "{{ path('zectranet_get_conversation', {'contact_id' : 0}) }}";
        JSON_URLS.urlSendConversationMessage = "{{ path('zectranet_send_conversation_message', {'conversation_id' : 0}) }}";
        JSON_URLS.urlEditPost = "{{ path('zectranet_edit_conversation_message', {'message_id' : 0}) }}";
    </script>
{% endblock %}