{% extends '@Zectranet/layout.html.twig' %}

{% block title %}Index page{% endblock %}

{% block styles %}
	{{ parent() }}

{% endblock %}

{% block leftSidebar %}
	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<div id="quicksearch-block" ng-controller="SearchController">
				<ul class="nav">
					<li class="sidebar-search">
						<div class="input-group custom-search-form dropdown" >
							<input id="text-search" ng-model="searchInput"
								   class="form-control dropdown-toggle"
								   placeholder="Search..."
								   maxlength="50"
								   ng-change="InputChange()"
								   data-toggle="dropdown" type="search">
							<span class="input-group-btn">
								<a ng-href="{{ path('zectranet_user_page',{ 'user_id' : app.user.id }) }}SearchPage/[[searchInput]]" ng-click="PreCheck();" class="btn btn-default"  >
									<i class="fa fa-search"></i>
								</a>
							</span>
						</div>
					</li>
				</ul>

				<!-- BEGIN OF SITE TREE -->
				<ul class="nav" id="side-menu">

					<li>
						<a href="{{ path('zectranet_public_market') }}">
							<i class='fa fa-credit-card'></i>
							Public Market
						</a>
					</li>

					<li>
						<a href="{{ path('zectranet_show_office', {'office_id': app.user.homeOffice.id }) }}"
                           class="
                                {% if app.user.homeOffice.projects | length > 0 %}
                                    {{ 'non-collapsible-href' }}
                                {% else %}
                                    {{ 'non-collapsible-href-full' }}
                                {% endif %}">
							<i class='fa fa-home'></i>
							<span>Home Office</span>
						</a>
                        {% if app.user.homeOffice.projects | length > 0 %}
                            <a href="{{ path('zectranet_show_office', {'office_id': app.user.homeOffice.id }) }}" class="collapsible-href">
                                <i class="fa fa-arrow-left fa-fw"></i>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
						<ul class="nav nav-second-level">
                            {% for project in app.user.homeOffice.projects if project.users | length == 1 %}
                                <li>
                                    <a href="{{ path('zectranet_show_project', {'project_id': project.id }) }}">
                                        <i class="fa fa-briefcase fa-fw"></i>
                                        {{ project.name }}
                                    </a>
                                </li>
                            {% endfor %}

                            {% for project in app.user.homeOffice.headerForums if project.users | length == 1 %}
                                <li>
                                    <a href="{{ path('zectranet_show_header_forum', {'project_id': project.id }) }}">
                                        <i class="fa fa-briefcase fa-fw"></i>
                                        {{ project.name }}
                                    </a>
                                </li>
                            {% endfor %}

                            <li>
                                <a href="#">
                                    <i class='fa fa-briefcase'></i>
                                    <span>Connected Projects</span>
                                </a>
                                <ul class="nav nav-third-level">
                                    {% for project in app.user.projects if project.users | length > 1 %}
                                        <li>
                                            <a href="{{ path('zectranet_show_project', {'project_id': project.id }) }}">
                                                <i class="fa fa-briefcase fa-fw"></i>
                                                {{ project.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
					</li>

                    {% for office in app.user.ownedOffices if office.id != app.user.homeOffice.id %}
                        <li>
                            <a href="{{ path('zectranet_show_office', {'office_id': office.id}) }}"
                               class="
                                    {% if office.projects | length > 0 %}
                                        {{ 'non-collapsible-href' }}
                                    {% else %}
                                        {{ 'non-collapsible-href-full' }}
                                    {% endif %}">
                                <i class='fa fa-home'></i>
                                <span>{{ office.name }}</span>
                            </a>
                            {% if office.projects | length > 0 %}
                                <a href="#" class="collapsible-href">
                                    <i class="fa fa-arrow-left fa-fw"></i>
                                </a>
                            {% endif %}
                            <div class="clearfix"></div>
                            <ul class="nav nav-second-level">
                                {% for project in office.projects %}
                                <li>
                                    <a href="{{ path('zectranet_show_project', {'project_id': project.id }) }}">
                                        {{ project.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}

                    {% for office in app.user.assignedOffices if office.id != app.user.homeOffice.id %}
                        <li>
                            <a href="{{ path('zectranet_show_office', {'office_id': office.id}) }}"
                               class="
                                    {% if office.projects | length > 0 %}
                                        {{ 'non-collapsible-href' }}
                                    {% else %}
                                        {{ 'non-collapsible-href-full' }}
                                    {% endif %}">
                                <i class='fa fa-home'></i>
                                <span>{{ office.name }}</span>
                            </a>
                            {% if office.projects | length > 0 %}
                                <a href="#" class="collapsible-href">
                                    <i class="fa fa-arrow-left fa-fw"></i>
                                </a>
                            {% endif %}
                            <div class="clearfix"></div>
                            <ul class="nav nav-second-level">
                                {% for project in office.projects %}
                                    <li>
                                        <a href="{{ path('zectranet_show_project', {'project_id': project.id }) }}">
                                            {{ project.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}

                    {% if is_granted('ROLE_WEB_DEVELOPER') %}
                    <li>
                        <a href="{{ path('zectranet_get_error_logs') }}">
                            <i class='fa fa-close'></i>
                            Error Logs
                        </a>
                    </li>
                    {% endif %}

				</ul>
				<!-- END OF SITE TREE -->

			</div>
		</div>
	</div>

	{% block modals %}

	{% endblock %}
{% endblock %}


{% block body %}

	{% block breadcrumbs %}

	{% endblock %}

	{% block pageheader %}

	{% endblock %}

	{% block content %}

	{% endblock %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/zectranet/js/custom/searchController.js') }}" type="text/javascript" ></script>
	<script src="{{ asset('bundles/zectranet/js/highlight.js') }}" type="text/javascript"></script>
	<script>
		// Variable for AngularJS
		TEMPPARAMS.USER_ID = {{ app.user.id }};
		JSON_URLS.deleteScrenshots  = "{{ path('zectranet_document_delete', { fileid : 0 }) }}";
	</script>
{% endblock %}

