<!DOCTYPE html>
<html lang="en" ng-app="Intranet">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{% block title %}Layout page{% endblock %}</title>

	{% block styles %}
		<link href="{{ asset('bundles/zectranet/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/mainv_001.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/footerst.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/metisMenu.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/sb-admin-2.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/bootstrap_ench_dropdowns.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/style.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/style_upload.css') }}" rel="stylesheet" type="text/css">
	{% endblock %}

	{% block head %}
		<base href="{{ app.request.getBaseUrl ~ app.request.getPathInfo }}">
	{% endblock %}
</head>

<body ng-cloak>

<div id="wrapper" class="active">
	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		{% block headNavigation %}
			{% if app.user %}
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ path('zectranet_user_page') }}">Zectranet <i class="fa fa-bookmark"></i></a>
				</div>
			{% endif %}

			<ul class="nav navbar-top-links navbar-right">

				{% if app.user %}
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
						</a>

						<ul class="dropdown-menu dropdown-messages">
							<li>
								<a href="#">
									<div>
										<strong>John Smith</strong>
										<span class="pull-right text-muted">
											<em>Yesterday</em>
										</span>
									</div>
									<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<strong>John Smith</strong>
										<span class="pull-right text-muted">
											<em>Yesterday</em>
										</span>
									</div>
									<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<strong>John Smith</strong>
										<span class="pull-right text-muted">
											<em>Yesterday</em>
										</span>
									</div>
									<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a class="text-center" href="#">
									<strong>Read All Messages</strong>
									<i class="fa fa-angle-right"></i>
								</a>
							</li>
						</ul>

					</li>

					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
						</a>

						<ul class="dropdown-menu dropdown-tasks">
							<li>
								<a href="#">
									<div>
										<p>
											<strong>Task 1</strong>
											<span class="pull-right text-muted">40% Complete</span>
										</p>
										<div class="progress progress-striped active">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
												<span class="sr-only">40% Complete (success)</span>
											</div>
										</div>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<p>
											<strong>Task 2</strong>
											<span class="pull-right text-muted">20% Complete</span>
										</p>
										<div class="progress progress-striped active">
											<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
												<span class="sr-only">20% Complete</span>
											</div>
										</div>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<p>
											<strong>Task 3</strong>
											<span class="pull-right text-muted">60% Complete</span>
										</p>
										<div class="progress progress-striped active">
											<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
												<span class="sr-only">60% Complete (warning)</span>
											</div>
										</div>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<p>
											<strong>Task 4</strong>
											<span class="pull-right text-muted">80% Complete</span>
										</p>
										<div class="progress progress-striped active">
											<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
												<span class="sr-only">80% Complete (danger)</span>
											</div>
										</div>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a class="text-center" href="#">
									<strong>See All Tasks</strong>
									<i class="fa fa-angle-right"></i>
								</a>
							</li>
						</ul>

					</li>

					<li class="dropdown">

						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li>
								<a href="#">
									<div>
										<i class="fa fa-comment fa-fw"></i> New Comment
										<span class="pull-right text-muted small">4 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<i class="fa fa-twitter fa-fw"></i> 3 New Followers
										<span class="pull-right text-muted small">12 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<i class="fa fa-envelope fa-fw"></i> Message Sent
										<span class="pull-right text-muted small">4 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<i class="fa fa-tasks fa-fw"></i> New Task
										<span class="pull-right text-muted small">4 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<i class="fa fa-upload fa-fw"></i> Server Rebooted
										<span class="pull-right text-muted small">4 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a class="text-center" href="#">
									<strong>See All Alerts</strong>
									<i class="fa fa-angle-right"></i>
								</a>
							</li>
						</ul>
					</li>

					<li class="dropdown">

						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<img class="profile-image img-circle" src="{{ asset('') }}documents/{{ app.user.avatar }}"
								 style="width: 18px; height: 18px;">
							<span>{{ app.user.name ~ ' ' ~ app.user.surname }}</span>
							<i class="fa fa-caret-down"></i>
						</a>

						<ul class="dropdown-menu dropdown-user">

							<li>
								<a href="{{ path('zectranet_user_page') }}">
									<i class="fa fa-user fa-fw"></i>
									My Profile
								</a>
							</li>

							{#
							<li>
								<a href="{{ path('intranet_show_personal_page') }}">
									<i class="fa fa-user fa-fw"></i>
									<span class="description">Dashboard</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-envelope fa-fw"></i>
									Inbox
								</a>
							</li>
							<li>
								<a href="{{ path('intranet_task_activity_logs_show') }}">
									<i class="fa fa-book fa-fw"></i>
									Show logs
								</a>
							</li>
							<li>
								<a href="{{ path('intranet_task_reporter') }}">
									<i class="fa fa-puzzle-piece fa-fw"></i>
									Task Reporter
								</a>
							</li>
							<li>
								<a href="{{ path('intranet_document') }}">
									<i class="fa fa-file-text fa-fw"></i>
									Documents upload
								</a>
							</li>
							#}
							<li class="divider"></li>
							<li>
								<a class="text-danger" href="{{ path('zectranet_logout') }}">
									<i class="fa fa-sign-out fa-fw"></i>
									Logout
								</a>
							</li>
						</ul>

					</li>
				{% else %}
					<li>
						<a href="{{ path('zectranet_login') }}">
							Login
						</a>
					</li>
					<li>
						<a href="{{ path('zectranet_signup') }}">
							SignUp
						</a>
					</li>
				{% endif %}
			</ul>
		{% endblock %}


		{% if app.user %}
			{% block leftSidebar %}

			{% endblock %}
		{% endif %}
	</nav>

	{% block page %}
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					{% block body %}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</div>

{#
{% block bigFooter %}
	<footer class="footer">
		<div class="container">
			<p class="text-muted">&copy;&nbsp;2015&nbsp;Zectranet. All rights reserved.</p>
		</div>
	</footer>
{% endblock %}
#}


{% block javascripts %}
	<script src="{{ asset('bundles/zectranet/js/jquery-2.1.3.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/underscore-min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/Bootstrap/bootstrap.min.js') }}" type="text/javascript"></script>

	<script src="{{ asset('bundles/zectranet/js/AngularJS/angular.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/AngularJS/angular-route.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/AngularJS/angular-sanitize.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/AngularJS/angular-animate.min.js') }}" type="text/javascript"></script>

	<script src="{{ asset('bundles/zectranet/js/Bootstrap/ui-bootstrap-tpls-0.10.0.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/metisMenu.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/sb-admin-2.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/highlight.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/Bootstrap/bootstrap_ench_dropdowns.js') }}"></script>

	<script src="{{ asset('bundles/zectranet/js/custom/angular-core.js') }}" type="text/javascript"></script>
	{#<script src="{{ asset('bundles/zectranet/js/custom/navigation.js') }}" type="text/javascript"></script>#}
	{#<script src="{{ asset('bundles/zectranet/js/custom/CustomJavaScripts.js') }}"></script>#}

	<script type="text/javascript">
		var JSON_URLS =
		{
			{#notificationsGet: "{{ url('intranet_notifications_get') }}",
			officeShow: "{{ url('intranet_show_office', {office_id: 0}) }}",
			topicShow: "{{ url('intranet_show_topic', {topic_id: 0}) }}",
			userSettings: "{{ url('intranet_get_user_settings') }}",
			checkUserByUsername: "{{ url('intranet_user_check_username') }}",
			registrationAction : "{{ url('intranet_register_action') }}",
			checkUsername: "{{ url('intranet_user_check_username') }}",
			checkEmail: "{{ url('intranet_user_check_email') }}",

			// Sprint controll
			addSprint: "{{ url('intranet_create_sprint') }}",
			showSprint: "{{ url('intranet_show_sprint', {sprintid: 0}) }}",
			addTaskToSprint: "{{ url('intranet_add_task_to_sprint', {taskid: 0}) }}",
			changeStatus: "{{ url('intranet_change_sprint_status', {sprintid: 0}) }}",

			// Search and quick search
			quickSearch: "{{ url('intranet_quick_search') }}",
			ExtendedSearchUrl: "{{ url('intranet_search') }}",

			// Upload and document control
			uploaderUpload: "{{ path('intranet_document_upload') }}",
			deleteFile: "{{ path('intranet_document_delete', { fileid : 0 }) }}",
			renameFile: "{{ path('intranet_document_rename', { fileid : 0 }) }}",
			documentsGet: "{{ path('intranet_document_get') }}",

			delSprint: "{{ url('intranet_del_sprint', {sprintid: 0}) }}",
			// path to Intranet/web/
			asset: "{{ asset('') }}",
			topicsShow: "{{ path('intranet_show_topic', {topic_id: 0}) }}",
			urlOfficeForTasks: "{{ path('intranet_show_office', {office_id: 0}) }}",#}

			chatTemplate: "{{ asset('bundles/zectranet/templates/chats.html') }}",
			taskboardTemplate: "{{ asset('bundles/zectranet/templates/taskboard.html') }}"
		};

		var SearchText = null;
		{% if searchText is defined and searchText != null %}
			SearchText = '{{ searchText }}';
		{% endif %}
	</script>
{% endblock %}


</body>
</html>