<!DOCTYPE html>
<html lang="en" ng-app="Zectranet">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{% block title %}Layout page{% endblock %}</title>

    {% block AngularJS %}
        <script src="{{ asset('bundles/zectranet/js/jquery-2.1.3.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/zectranet/js/underscore-min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/zectranet/js/AngularJS/angular.js') }}" type="text/javascript"></script>
    {% endblock %}

	{% block styles %}
		<link href="{{ asset('bundles/zectranet/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/mainv_001.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/footerst.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/metisMenu.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/sb-admin-2.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/bootstrap_ench_dropdowns.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/style.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/zectranet/css/style_upload.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/zectranet/css/clock.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/zectranet/css/search.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/zectranet/css/angular-busy.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/zectranet/css/lightbox.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/zectranet/css/leftSidebar.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/zectranet/css/Semantic/popup.css') }}" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    {% endblock %}

	{% block head %}

	{% endblock %}
</head>

<body ng-cloak ng-controller="NavigationController" ng-init="getNotification()">

<div id="wrapper" class="active">
	<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0">
		{% block headNavigation %}
			{% if app.user %}
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ path('zectranet_show_office', { 'office_id': app.user.homeOffice.id }) }}">
                        Zectranet <i class="fa fa-bookmark"></i>
                    </a>
				</div>
			{% endif %}




            {% if app.user and is_granted('ROLE_USER') %}
                <div class="col-md-3 hidden-xs hidden-sm" style="margin-top: 10px;">
                    <div id="quicksearch-block" ng-controller="SearchController">

                                <div class="input-group custom-search-form dropdown" >
                                    <input id="text-search" ng-model="searchInput"
                                           class="form-control dropdown-toggle"
                                           placeholder="Search..."
                                           maxlength="50"
                                           ng-change="InputChange(searchInput, false);"
                                           data-toggle="dropdown"
                                           type="search" />

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-class="{ 'disabled': searchInput.length == 0 }"
                                            ng-click="searchAction(searchInput)">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>

                                    <div class="dropdown-menu">
                                        <div class="list-group" style="margin-bottom: 0;">
                                            <div ng-if="miniSearchResults.total == 0" class="list-group-item">
                                                <h5 class="text-info" align="center">Search for <i>[[ searchInput ]]</i>...</h5>
                                            </div>
                                            <div ng-if="miniSearchResults.total == -1" class="list-group-item">
                                                <h5 class="text-info" align="center">Didn't found any match</h5>
                                            </div>
                                            <div ng-if="miniSearchResults.total > 0">
                                                <div class="list-group-item" ng-repeat="item in miniSearchResults.homeOffice">
                                                    <a ng-href="[[ item.href ]]" target="_self">
                                                        [[ item.message ]]
                                                        <span class="clearfix"></span>
                                                        <div class="pull-right">
                                                            <i class="text-muted" style="font-size: 10px;">home office chat</i>
                                                        </div>
                                                        <span class="clearfix"></span>
                                                    </a>
                                                </div>

                                                <div class="list-group-item" ng-repeat="item in miniSearchResults.HFForums.forums">
                                                    <a ng-href="[[ item.href ]]" target="_self">
                                                        [[ item.name ]]
                                                        <span class="clearfix"></span>
                                                        <div class="pull-right" style="font-size: 10px;">
                                                            <i class="text-muted">Header forums</i>
                                                        </div>
                                                        <span class="clearfix"></span>
                                                    </a>
                                                </div>

                                                <div class="list-group-item" ng-repeat="item in miniSearchResults.HFForums.threads">
                                                    <a ng-href="[[ item.href ]]" target="_self" style="text-decoration: none;">
                                                        <h4 class="text-info">[[ item.title ]]</h4>
                                                        <p style="color: black; font-style: italic; font-size: 11px;">[[ item.message ]]</p>
                                                        <span class="clearfix"></span>
                                                        <div class="pull-right">
                                                            <i class="text-muted" style="font-size: 10px;">threads</i>
                                                        </div>
                                                        <span class="clearfix"></span>
                                                    </a>
                                                </div>

                                                <div class="list-group-item" ng-repeat="item in miniSearchResults.HFForums.posts">
                                                    <a ng-href="[[ item.href ]]" target="_self">
                                                        [[ item.message ]]
                                                        <span class="clearfix"></span>
                                                        <div class="pull-right" style="font-size: 10px;">
                                                            <i class="text-muted">header forums posts</i>
                                                        </div>
                                                        <span class="clearfix"></span>
                                                    </a>
                                                </div>

                                                <div class="list-group-item" ng-repeat="item in miniSearchResults.QnAForums.forums">
                                                    <a ng-href="[[ item.href ]]" target="_self">
                                                        [[ item.name ]]
                                                        <span class="clearfix"></span>
                                                        <div class="pull-right" style="font-size: 10px;">
                                                            <i class="text-muted">QnA Forums</i>
                                                        </div>
                                                        <span class="clearfix"></span>
                                                    </a>
                                                </div>

                                                <div class="list-group-item" ng-repeat="item in miniSearchResults.QnAForums.threads">
                                                    <a ng-href="[[ item.href ]]" target="_self" style="text-decoration: none;">
                                                        <h4 class="text-info">[[ item.title ]]</h4>
                                                        <p style="color: black; font-style: italic; font-size: 11px;">[[ item.message ]]</p>
                                                        <span class="clearfix"></span>
                                                        <div class="pull-right" style="font-size: 10px;">
                                                            <i class="text-muted">QnA forums threads</i>
                                                        </div>
                                                        <span class="clearfix"></span>
                                                    </a>
                                                </div>

                                                <div class="list-group-item" ng-repeat="item in miniSearchResults.QnAForums.posts">
                                                    <a ng-href="[[ item.href ]]" target="_self">
                                                        [[ item.message ]]
                                                        <span class="clearfix"></span>
                                                        <div class="pull-right" style="font-size: 10px;">
                                                            <i class="text-muted">QnA forums posts</i>
                                                        </div>
                                                        <span class="clearfix"></span>
                                                    </a>
                                                </div>

                                                <div class="list-group-item" ng-repeat="item in miniSearchResults.Projects.tasks">
                                                    <a ng-href="[[ item.href ]]" target="_self">
                                                        [[ item.name ]]
                                                        <span class="clearfix"></span>
                                                        <div class="pull-right" style="font-size: 10px;">
                                                            <i class="text-muted">tasks</i>
                                                        </div>
                                                        <span class="clearfix"></span>
                                                    </a>
                                                </div>

                                                <div class="list-group-item" ng-repeat="item in miniSearchResults.Projects.taskPosts">
                                                    <a ng-href="[[ item.href ]]" target="_self">
                                                        [[ item.message ]]
                                                        <span class="clearfix"></span>
                                                        <div class="pull-right" style="font-size: 10px;">
                                                            <i class="text-muted">task posts</i>
                                                        </div>
                                                        <span class="clearfix"></span>
                                                    </a>
                                                </div>

                                                <div class="list-group-item" ng-repeat="item in miniSearchResults.Projects.posts">
                                                    <a ng-href="[[ item.href ]]" target="_self">
                                                        [[ item.message ]]
                                                        <span class="clearfix"></span>
                                                        <div class="pull-right" style="font-size: 10px;">
                                                            <i class="text-muted">development posts</i>
                                                        </div>
                                                        <span class="clearfix"></span>
                                                    </a>
                                                </div>

                                                <div class="list-group-item" ng-repeat="item in miniSearchResults.Projects.projects">
                                                    <a ng-href="[[ item.href ]]" target="_self">
                                                        [[ item.name ]]
                                                        <span class="clearfix"></span>
                                                        <div class="pull-right" style="font-size: 10px;">
                                                            <i class="text-muted">projects</i>
                                                        </div>
                                                        <span class="clearfix"></span>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                    </div>

                </div><!-- /.col-lg-3 -->
            {% endif %}



			<ul class="nav navbar-top-links navbar-right">

				{% if app.user %}
                    <li class="dropdown" ng-cloak>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <div class="fa fa-fw"><b>O</b></div>
                            <i class="fa fa-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-tasks noclose list-group">
                            <li>UNDER CONSTRUCTION</li>
                        </ul>
                    </li>

                    <li class="dropdown" ng-cloak>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <div class="fa fa-fw"><b>P</b></div>
                            <span ng-if="requests.QnARequests.length + requests.hfRequests.length + requests.projectRequests.length > 0"
                                  style="position: absolute; top: 0; right: 14px; font-size: 15px; text-shadow: 0 0 15px #00c6ff;"
                                    ng-class="{ 'visible-element': FirstInit }" class="hidden-element">
                                [[ requests.QnARequests.length + requests.hfRequests.length + requests.projectRequests.length ]]
                            </span>
                            <i class="fa fa-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-tasks noclose list-group">
                            <li ng-if="requests.QnARequests.length + requests.hfRequests.length + requests.projectRequests.length == 0" class="list-group-item">
                                <h5 class="text-info">You haven't any project requests</h5>
                            </li>
                            <li ng-repeat="requestQNA in requests.QnARequests | limitTo: 2" class="list-group-item">
                                <h5 class="text-info">
                                    User "[[ requestQNA.contact.username ]]" has invite you into "[[ requestQNA.QnAForum.name ]]" project
                                </h5>
                                <div class="divider"></div>
                                <p>
                                    <b>Message:</b>
                                    <span style="white-space: normal; text-overflow: ellipsis; overflow: hidden;">
                                        [[ requestQNA.message ]]
                                    </span>
                                </p>

                                <div class="divider"></div>

                                <div class="btn-group">
                                    <button class="btn btn-default btn-success" ng-click="acceptQnAMembershipRequest(requestQNA.id, $index);">
                                        Accept
                                    </button>
                                    <button class="btn btn-default btn-danger" ng-click="declineQnAMembershipRequest(requestQNA.id, $index);">
                                        Decline
                                    </button>
                                    <button class="btn btn-default btn-info" ng-click="moreInfoQnAMembershipRequest(requestQNA.id, $index);">
                                        More info
                                    </button>
                                </div>
                            </li>
                            <li ng-repeat="requesthf in requests.hfRequests | limitTo: 2" class="list-group-item">
                                <h5 class="text-info">
                                    User "[[ requesthf.contact.username ]]" has invite you into "[[ requesthf.hfForum.name ]]" project
                                </h5>
                                <div class="divider"></div>
                                <p>
                                    <b>Message:</b>
                                    <span style="white-space: normal; text-overflow: ellipsis; overflow: hidden;">
                                        [[ requesthf.message ]]
                                    </span>
                                </p>

                                <div class="divider"></div>

                                <div class="btn-group">
                                    <button class="btn btn-default btn-success" ng-click="acceptHFMembershipRequest(requesthf.id, $index);">
                                        Accept
                                    </button>
                                    <button class="btn btn-default btn-danger" ng-click="declineHFMembershipRequest(requesthf.id, $index);">
                                        Decline
                                    </button>
                                    <button class="btn btn-default btn-info" ng-click="moreInfoHFMembershipRequest(requesthf.id, $index);">
                                        More info
                                    </button>
                                </div>
                            </li>
                            <li ng-repeat="requestProject in requests.projectRequests | limitTo: 2" class="list-group-item">
                                <h5 class="text-info">
                                    User "[[ requestProject.contact.username ]]" has invite you into "[[ requestProject.hfForum.name ]]" project
                                </h5>
                                <div class="divider"></div>
                                <p>
                                    <b>Message:</b>
                                    <span style="white-space: normal; text-overflow: ellipsis; overflow: hidden;">
                                        [[ requestProject.message ]]
                                    </span>
                                </p>

                                <div class="divider"></div>

                                <div class="btn-group">
                                    <button class="btn btn-default btn-success" ng-click="acceptProjectMembershipRequest(requestProject.id, $index);">
                                        Accept
                                    </button>
                                    <button class="btn btn-default btn-danger" ng-click="declineProjectMembershipRequest(requestProject.id, $index);">
                                        Decline
                                    </button>
                                    <button class="btn btn-default btn-info" ng-click="moreInfoProjectMembershipRequest(requestProject.id, $index);">
                                        More info
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown" ng-cloak>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <div class="fa fa-fw"><b>C</b></div>
                            <span ng-if="requests.contactRequests.length + contactNotifications.length > 0"
                                  style="position: absolute; top: 0; right: 14px; font-size: 15px; text-shadow: 0 0 15px #00c6ff;"
                                  ng-class="{ 'visible-element': FirstInit }" class="hidden-element">
                                [[ requests.contactRequests.length + contactNotifications.length ]]
                            </span>
                            <i class="fa fa-caret-down"></i>
                        </a>

                        <ul class="notifier dropdown-menu dropdown-tasks noclose list-group">
                            <li ng-if="(requests.contactRequests.length == 0) && (contactNotifications.length == 0)" class="list-group-item">
                                <h5 class="text-info">You haven't any contact requests</h5>
                            </li>
                            <li ng-repeat="request in requests.contactRequests | limitTo: 3" class="list-group-item">
                                <h5 class="text-info">
                                    User "[[ request.contact.username ]]" has sent you contact request
                                </h5>
                                <div class="divider"></div>
                                <p>
                                    <b>Message:</b>
                                    <span style="white-space: normal; text-overflow: ellipsis; overflow: hidden;">
                                        [[ request.message ]]
                                    </span>
                                </p>

                                <div class="divider"></div>

                                <div class="btn-group">
                                    <button class="btn btn-default btn-success" ng-click="acceptContactMembershipRequest(request.id, $index);">
                                        Accept
                                    </button>
                                    <button class="btn btn-default btn-danger" ng-click="declineContactMembershipRequest(request.id, $index);">
                                        Decline
                                    </button>
                                    <button class="btn btn-default btn-info" ng-click="moreInfoContactMembershipRequest(request.id, $index);">
                                        More info
                                    </button>
                                </div>
                            </li>

                            <li ng-repeat="contactNotification in contactNotifications| limitTo: 5" class="list-group-item" style="font-size: 14px;">

                                <a href="[[contactNotification.href]]" style="text-decoration: none; color: #000; padding: 2px 5px;">
                                    <i class="fa fa-comment fa-fw" style="vertical-align: top;"></i>
                                    <div style="word-wrap: break-word; display: inline-block; padding-right: 10px;" ng-bind-html="contactNotification.message"></div>
                                    <div class="text-muted small" style="text-align: right">
                                        <i class="fa fa-clock-o"></i>
                                        [[ contactNotification.activated.date.substring(0, 16) ]]
                                    </div>
                                </a>

                            </li>

                            <li ng-if="(contactNotifications != null) && (contactNotifications.length > 0)" style="font-size: 14px; padding-top: 8px;">
                                <a class="text-center" href="{{ path('zectranet_all_notifications') }}">
                                    <strong>See All Notifications</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown hidden-xs" ng-cloak>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 13px;">
                            <div class="clock hidden-xs">
                                <ul>
                                    <li id="hours"> </li>
                                    <li class="point">:</li>
                                    <li id="min" style="margin: 0;"> </li>
                                </ul>
                            </div>
                            <i class="fa fa-tasks fa-fw visible-xs-inline-block"></i>
                            <i class="fa fa-caret-down" style="margin-left: 5px;"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-tasks noclose">

                            {% set tasksAssigned = [] %}

                            {% for task in app.user.assignedTasks if task.status.label == 'in-progress'  %}
                                {% set tasksAssigned = tasksAssigned | merge([task]) %}
                            {% endfor %}

                            {% set tasksOwned = [] %}

                            {% for task in app.user.OwnedTasks if task.status.label == 'in-progress'  %}
                                {% set tasksOwned = tasksOwned | merge([task]) %}
                            {% endfor %}

                            {% if (tasksAssigned | length > 0) or (tasksOwned | length > 0) %}

                                <li class="text-center" style="margin-top: 5px;"><b>TASKS  <span style="color: violet;">IN-PROGRESS </span></b></li>

                                {% if tasksAssigned | length > 0 %}

                                    {% for task in tasksAssigned | slice(0, 1) %}
                                        <li class="divider"></li>

                                        <li>
                                            <a href="{{ path('zectranet_task_show', {task_id: task.id}) }}">
                                                <div>
                                                    <p>
                                                        <span style="display: inline-block; width: 70%; word-wrap: break-word;"><b>{{ task.name  }}</b></span>
                                                        <span class="pull-right text-muted" style="display: inline-block; width: 28%; text-align: right;">{{ task.progress }}% Complete</span>
                                                    </p>
                                                    <div class="progress progress-striped active">
                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ task.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task.progress }}%">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}

                                {% else %}
                                    {% for task in tasksOwned | slice(0, 3) %}
                                        <li class="divider"></li>

                                        <li>
                                            <a href="{{ path('zectranet_task_show', {task_id: task.id}) }}">
                                                <div>
                                                    <p>
                                                        <span style="display: inline-block; width: 70%; word-wrap: break-word;"><b>{{ task.name  }}</b></span>
                                                        <span class="pull-right text-muted" style="display: inline-block; width: 28%; text-align: right;">{{ task.progress }}% Complete</span>
                                                    </p>
                                                    <div class="progress progress-striped active">
                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ task.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task.progress }}%">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                    {% endfor %}
                                {% endif %}

                            {% endif %}

                            <li class="divider"></li>

                            <li class="text-center"><b>WDE</b></li>

                            <li class="divider"></li>

                            <li>
                                <form method="post" action="{{ path('zectranet_wde') }}">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-6">
                                                    <label class="text-muted" for="input1" style="font-weight: normal">Start office</label>
                                                    <input id="input1" class="form-control timepicker" type="time" name="startOffice"
                                                           {% if (app.user.wde|length > 0) and (app.user.wde[0].date| date('Y-m-d') == "now"| date('Y-m-d')) %}
                                                                value='{{ app.user.wde[0].startTime is empty ? "" : app.user.wde[0].startTime| date('H:i') }}'
                                                            {% endif %}>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label class="text-muted" for="input2" style="font-weight: normal">Start lunch</label>
                                                    <input id="input2" class="form-control" type="time" name="startLunch"
                                                            {% if (app.user.wde|length > 0) and (app.user.wde[0].date| date('Y-m-d') == "now"| date('Y-m-d')) %}
                                                                value='{{ app.user.wde[0].beginLunch is empty ? "" : app.user.wde[0].beginLunch| date('H:i') }}'
                                                            {% endif %}>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-6">
                                                    <label class="text-muted" for="input3" style="font-weight: normal">End lunch</label>
                                                    <input id="input3" class="form-control" type="time" name="endLunch"
                                                    <input id="input2" class="form-control" type="time" name="startLunch"
                                                            {% if (app.user.wde|length > 0) and (app.user.wde[0].date| date('Y-m-d') == "now"| date('Y-m-d')) %}
                                                                value='{{ app.user.wde[0].endLunch is empty ? "" : app.user.wde[0].endLunch| date('H:i') }}'
                                                            {% endif %}>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label class="text-muted" for="input4" style="font-weight: normal">End office</label>
                                                    <input id="input4" class="form-control" type="time" name="endOffice"
                                                            {% if (app.user.wde|length > 0) and (app.user.wde[0].date| date('Y-m-d') == "now"| date('Y-m-d')) %}
                                                                value='{{ app.user.wde[0].endTime is empty ? "" : app.user.wde[0].endTime| date('H:i') }}'
                                                            {% endif %}>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <label class="text-muted" for="input5" style="font-weight: normal">Hours</label>
                                                    <input id="input5" class="form-control text-center" type="text" name="hours" pattern="[0-9]{1}"
                                                            {% if (app.user.wde|length > 0) and (app.user.wde[0].date| date('Y-m-d') == "now"| date('Y-m-d')) %}
                                                                value='{{ app.user.wde[0].hours }}'
                                                            {% endif %}>
                                                </div>
                                                <div class="col-sm-9">
                                                    <label class="text-muted" for="input6" style="font-weight: normal">Main task</label>
                                                    <input id="input6" class="form-control" type="text" name="mainTask"
                                                            {% if (app.user.wde|length > 0) and (app.user.wde[0].date| date('Y-m-d') == "now"| date('Y-m-d')) %}
                                                                value='{{ app.user.wde[0].mainTask }}'
                                                            {% endif %}>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <div class="col-xs-12">
                                            <div style="padding: 0 15px;">
                                                <input type="submit" class="btn btn-primary form-control" value="Save">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>

                    </li>

                    <li class="dropdown hidden-xs" ng-cloak>


						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-bell fa-fw"></i>
                            <span ng-if="notifications.length > 0" ng-class="{ 'visible-element': FirstInit }" class="hidden-element"
                                  style="position: absolute; top: 0; right: 14px; font-size: 15px; text-shadow: 0 0 15px #00c6ff;">
                                [[notifications.length]]
                            </span>
                            <i class="fa fa-caret-down"></i>
						</a>

                        <!-- Sound when new notification -->
                        <audio id='notif_sound'>
                            <source src='{{ asset('bundles/zectranet/sound/notify_sound.mp3') }}' type='audio/mpeg'/>
                        </audio>

                        <ul ng-if="notifications.length > 0" class="notifier dropdown-menu dropdown-alerts">
                            <li ng-repeat="notification in notifications| limitTo: 5">

                                <a ng-if="(notification.type == 'message_office') || (notification.type == 'message_project') || (notification.type == 'message_task') || (notification.type == 'message_epic_story')
                                    || (notification.type == 'private_message_office') || (notification.type == 'private_message_project') || (notification.type == 'private_message_task') || (notification.type == 'private_message_epic_story')
                                    || (notification.type == 'task_added') || (notification.type == 'task_deleted') || (notification.type == 'epic_story_added') || (notification.type == 'epic_story_deleted')"
                                    href="[[notification.href]]"
                                    style="text-decoration: none; color: #000;">
                                    <i ng-if="(notification.type == 'message_office') || (notification.type == 'message_project') || (notification.type == 'message_task') || (notification.type == 'message_epic_story')
                                    || (notification.type == 'private_message_office') || (notification.type == 'private_message_project') || (notification.type == 'private_message_task') || (notification.type == 'private_message_epic_story')"
                                       class="fa fa-comment fa-fw" style="vertical-align: top;"></i>
                                    <i ng-if="(notification.type == 'task_added')" class="fa fa-tasks fa-fw"></i>
                                    <i ng-if="(notification.type == 'epic_story_added')" class="fa fa-briefcase fa-fw"></i>
                                    <i ng-if="(notification.type == 'task_deleted') || (notification.type == 'epic_story_deleted')" class="fa fa-trash-o fa-fw"></i>
                                    <div style="word-wrap: break-word; display: inline-block; padding-right: 10px;" ng-bind-html="notification.message"></div>
                                    <div class="text-muted small" style="text-align: right">
                                        <i class="fa fa-clock-o"></i>
                                        [[ notification.activated.date.substring(0, 16) ]]
                                    </div>
                                </a>

                                <div class="divider"></div>
                            </li>

                            <li>
                                <a class="text-center" href="{{ path('zectranet_all_notifications') }}">
                                    <strong>See All Notifications</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>

                        <div ng-if="(notifications != null) && (notifications.length == 0)" class="notifier dropdown-menu dropdown-alerts" style="text-align: center;">
                            You don't have notifications!
                        </div>

					</li>

					<li class="dropdown">

						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<img class="profile-image img-circle" src="{{ asset('') }}documents/{{ app.user.avatar }}"
								 style="width: 18px; height: 18px;">
							<span class="hidden-xs">{{ app.user.name ~ ' ' ~ app.user.surname }}</span>
							<i class="fa fa-caret-down"></i>
						</a>

						<ul class="dropdown-menu dropdown-user">

							<li>
								<a href="{{ path('zectranet_user_page') }}">
									<i class="fa fa-user fa-fw"></i>
									My Profile
								</a>
							</li>

							<li>
								<a href="{{ path('zectranet_user_home') }}">
									<i class="fa fa-user fa-fw"></i>
									Summary
								</a>
							</li>

                            <li>
                                <a href="{{ path('zectranet_user_settings') }}">
                                    <i class="fa fa-gear fa-fw"></i>
                                    Settings
                                </a>
                            </li>

							<li>
								<a href="{{ path('zectranet_upload') }}">
									<i class="fa fa-upload fa-fw"></i>
									Upload Files
								</a>
							</li>

							<li class="divider"></li>
							<li>
								<a class="text-danger" href="{{ path('zectranet_logout') }}">
									<i class="fa fa-sign-out fa-fw"></i>
									Logout
								</a>
							</li>
						</ul>

					</li>
				{% else %}
					<li>
						<a href="{{ path('zectranet_login') }}">
							Login
						</a>
					</li>
					<li>
						<a href="{{ path('zectranet_signup') }}">
							SignUp
						</a>
					</li>
				{% endif %}
			</ul>
		{% endblock %}
	</nav>

    {% if app.user %}
        {% block leftSidebar %}

        {% endblock %}
    {% endif %}

	{% block page %}
	<div id="page-wrapper" style="height: 100%; margin-top: 50px;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
                    <!-- BEGIN OF SHOW REQUEST DETAILS MODAL -->
                    <div class="modal fade" id="request_more_info">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header label-info">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" style="color: #f5f5f5;">
                                        [[ requestMoreInfo.type.label ]]
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
                                            <b>Message:</b><br/>
                                            <p>
                                                [[ requestMoreInfo.message ]]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-success" ng-click="acceptContactMembershipRequest(requestMoreInfo.id);">
                                            Accept
                                        </button>
                                        <button type="button" class="btn btn-default btn-danger" ng-click="declineContactMembershipRequest(requestMoreInfo.id);">
                                            Decline
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OF SHOW REQUEST DETAILS MODAL -->
					{% block body %}

					{% endblock %}
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</div>

{#
{% block bigFooter %}
	<footer class="footer">
		<div class="container">
			<p class="text-muted">&copy;&nbsp;2015&nbsp;Zectranet. All rights reserved.</p>
		</div>
	</footer>
{% endblock %}
#}


{% block javascripts %}
    <!--------------------------- JAVASCRIPT LIBRARIES --------------------------->
	<script src="{{ asset('bundles/zectranet/js/Bootstrap/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/Bootstrap/ui-bootstrap-tpls-0.10.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/metisMenu.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/sb-admin-2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/highlight.js') }}" type="text/javascript"></script>

    <!--------------------------- ANGULAR LIB MODULES --------------------------->
	<script src="{{ asset('bundles/zectranet/js/AngularJS/angular-route.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/AngularJS/angular-sanitize.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/AngularJS/angular-animate.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/AngularJS/angular-busy.js') }}"></script>
    <script src="{{ asset('bundles/zectranet/js/draganddrop.js') }}"></script>
    <script src="{{ asset('bundles/zectranet/js/AngularJS/scrollglue.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/AngularJS/angular-messages.min.js') }}" type="text/javascript"></script>

    <!------------------------------- CORE MODULE ------------------------------->
	<script src="{{ asset('bundles/zectranet/js/custom/angular-core.js') }}" type="text/javascript"></script>

    <!------------------------------- DATA MODULE ------------------------------->
    <script src="{{ asset('bundles/zectranet/js/custom/Data/data.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/custom/Data/Entities/data.tasks.table.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/custom/Project/Controllers/project.task.controller.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/custom/Data/Services/data.tasks.service.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/custom/Data/Services/data.tasksSort.service.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/custom/Data/Filters/data.tasksFilter.service.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/custom/Data/Services/data.homeOffice.service.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/custom/Data/Services/data.time.service.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/custom/Data/Services/data.documents.service.js') }}" type="text/javascript"></script>

    <!------------------------------ PROJECT MODULE ----------------------------->
    <script src="{{ asset('bundles/zectranet/js/custom/Project/project.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/custom/Project/Controllers/project.singleTask.controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/custom/Project/Controllers/project.sprint.controller.js') }}" type="text/javascript"></script>

    <!---------------------------- HOME OFFICE MODULE --------------------------->
    <script src="{{ asset('bundles/zectranet/js/custom/HomeOffice/homeOffice.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/custom/HomeOffice/Controllers/homeOffice.controller.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/zectranet/js/custom/navigation.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/zectranet/js/lightbox.min.js') }}"></script>
	<script src="{{ asset('bundles/zectranet/js/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/zectranet/js/text-redactor.js') }}"></script>
    <script src="{{ asset('bundles/zectranet/js/jquery.hotkeys.js') }}"></script>
    <script src="{{ asset('bundles/zectranet/js/Semantic/popup.js') }}"></script>
    <script type="text/javascript">
        $('#editor').wysiwyg();
    </script>
	<script type="text/javascript">
		var JSON_URLS =
		{
			asset: "{{ asset('') }}",
			'documents': {
                'getDocuments': "{{ path('zectranet_document_get') }}",
            },
			miniSearch: "{{ path('zectranet_quick_search') }}",
            urlMiniSearchHeaderThread: "{{ path('zectranet_show_header_forum_thread', {'project_id': 0, 'subheader_id': 1, 'thread_id': 2 }) }}",
			urlMiniSearchQnaThread: "{{ path('zectranet_show_QnA_thread', {'project_id': 0, 'thread_id' : 1}) }}",
            urlMiniSearchProject: "{{ path('zectranet_show_project', {'project_id': 0}) }}",
            urlMiniSearchQnAForum: "{{ path('zectranet_show_QnA_forum', {'project_id': 0}) }}",
            urlMiniSearchHeaderForum: "{{ path('zectranet_show_header_forum', {'project_id': 0}) }}",
            urlMiniSearchTask: "{{ path('zectranet_task_show', {'task_id': 0}) }}",
            notificationsGet: "{{ url('zectranet_notifications_get') }}",
            homeOfficeShow: "{{ url('zectranet_show_office', {'office_id': 0, 'conversation_id': 'conv_id'}) }}",
            officeShow: "{{ url('zectranet_show_office', {'office_id': 0}) }}",
			projectShow: "{{ url('zectranet_show_project', {'project_id': 0}) }}",
            acceptRequestUserOffice : "{{ url('zectranet_accept_request_user_office', { 'office_id': 0 }) }}",
            declineRequestUserOffice : "{{ url('zectranet_decline_request_user_office', { 'office_id': 0 }) }}",
            taskShow: "{{ url('zectranet_task_show', {task_id: 0}) }}",
			documentTemplate: "{{ asset('bundles/zectranet/templates/document.html') }}",
			approveContactMembershipRequest: "{{ path('zectranet_approve_contact_membership_request', { 'request_id': 'request_id' }) }}",
            approveHFMembershipRequest: "{{ path('zectranet_approve_hf_membership_request', { 'request_id': 'request_id' }) }}",
            approveQnAMembershipRequest: "{{ path('zectranet_approve_QNA_membership_request', { 'request_id': 'request_id' }) }}",
            approveProjectMembershipRequest: "{{ path('zectranet_approve_project_membership_request', { 'request_id': 'request_id' }) }}",
		};

        // Tasks URLS \\
        JSON_URLS.addTask = "{{ path('zectranet_project_add_task', { 'project_id': 0 }) }}";
        JSON_URLS.addSubTask = "{{ path('zectranet_project_add_subtask', { 'project_id': 0 }) }}";
        JSON_URLS.getTasks = "{{ path('zectranet_project_get_tasks', { 'project_id': 0 }) }}";
        JSON_URLS.getSingleTask = "{{ path('zectranent_task_get_single', { 'task_id': 0 }) }}";
        JSON_URLS.deleteTask = "{{ path('zectranet_task_delete', { 'task_id': 0 }) }}";
        JSON_URLS.showTask = "{{ path('zectranet_task_show', { 'task_id': 0 }) }}";
        JSON_URLS.saveTaskInfo = "{{ path('zectranet_task_edit_info', { 'task_id': 0 }) }}";
        JSON_URLS.changeStatusTask = "{{ path('zectranet_change_task_status', {'task_id': 0}) }}";
        JSON_URLS.showSprint = "{{ path('zectranet_show_sprint', { 'project_id': 0, 'sprint_id': 1 }) }}";
        JSON_URLS.sprintAddTasks = "{{ path('zectranet_sprint_add_tasks', { 'sprint_id': 0 }) }}";
        JSON_URLS.sprintDetachTask = "{{ path('zectranet_detach_task_from_sprint', { 'task_id': 0 }) }}";
        JSON_URLS.getSprintTasks = "{{ path('zectranet_sprint_get_tasks', { 'sprint_id': 0 }) }}";

        var TEMPPARAMS = {};
        {% if app.user %}
            var userHomeOfficeID = "{{ app.user.homeOfficeID }}";
            var USER_ID = {{ app.user.id }};
        {% endif %}

		var SearchText = null;
		{% if searchText is defined and searchText != null %}
			SearchText = '{{ searchText }}';
		{% endif %}

        var TIME_NOW = "{{ 'now' | date('Y-m-d H:i:s') }}";

        $(function () {
            var popovers = $('[data-toggle="popover"]');
            popovers.popover();
            popovers.bind('mouseenter', function () {
                $(this).popover('show');
            });
            popovers.bind('mouseleave', function () {
                $(this).popover('hide');
            });
        });
	</script>

    <!-- script for Clock -->
    <script type="text/javascript">
        // create new object for Date
        var newDate = new Date();

        // write current date
        newDate.setDate(newDate.getDate());

        setInterval( function() {
            // create new object for seconds
            var seconds = new Date().getSeconds();
            $("#sec").html(( seconds < 10 ? "0" : "" ) + seconds);
        },1000);

        setInterval( function() {
            // create new object for minutes
            var minutes = new Date().getMinutes();
            $("#min").html(( minutes < 10 ? "0" : "" ) + minutes);
        },1000);

        setInterval( function() {
            // create new object for hours
            var hours = new Date().getHours();
            $("#hours").html(( hours < 10 ? "0" : "" ) + hours);
        }, 1000);
    </script>

{% endblock %}


</body>
</html>