{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ office.name }} {% endblock %}

{% block body %}

    <div class="row">
        <ol class="breadcrumb" style="margin: 0 -30px; border-radius:0px !important; padding: 12px 50px; background-color: #fbfbfb; ">
            <li>
                <a href="{{ path('zectranet_user_home') }}">Summary</a>
            </li>
            <li class="active">
                {{ office.name }}
            </li>
        </ol>
    </div>

    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <span style="font-size: 30px; font-family: 'PT Sans Narrow', sans-serif; font-weight: bold;">{{ office.name }}</span>
            </div>
            <div class="col-md-6">
                <!-- Begin of Office controll buttons -->
                {% if (office.owner.id == app.user.id) or (is_granted('ROLE_ADMIN')) %}
                    <div class="pull-right">
                        <div class="pull-right" data-toggle="tooltip" data-placement="top" title="Delete This Office">
                            <a style="cursor: pointer; text-decoration: none;" data-toggle="modal" data-target="#delete_private_office">
                                <i class="fa text-danger fa-fw fa-trash  fa-2x"></i>
                            </a>
                        </div>

                        <div class="pull-right" data-toggle="tooltip" data-placement="top" title="Office Settings">
                            <a style="cursor: pointer; text-decoration: none;" href="{{ path('zectranet_settings_office', { 'office_id': office.id }) }}">
                                <i class="fa text-primary fa-fw fa-gear fa-2x"></i>
                            </a>
                        </div>
                        <div class="pull-right">
                            <a href="{{ path('zectranet_office_show_WDE', { 'office_id': office.id }) }}">
                                WDE
                            </a>
                        </div>
                    </div>
                {% endif %}
                <!-- End of Office controll buttons -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <blockquote>
                <footer>
                    <cite title="Source Title">Office Description</cite>
                </footer>
                <p>{{ office.description }}</p>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <!-- BEGIN OF USER ROLES LIST -->
        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item" style="background:#ddedf4; color:#606060;">
                    <i class="fa fa-user fa-fw"></i>
                    <strong>Connected Users</strong>
                </div>
                <div class="list-group-item">
                    <table class="table" style="margin-bottom: 0">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{{ path('zectranet_user_page', {'user_id': office.owner.id }) }}" style="display: block; text-decoration: none;">
                                        <img src="{{ asset('') ~ 'documents/' ~ office.owner.avatar }}" class="img-circle"
                                             style="width: 20px; height: 20px;">
                                        {{ office.owner.name ~ ' ' ~ office.owner.surname ~ ' (' ~ office.owner.username ~ ')'}}
                                    </a>
                                </td>
                                <td>Owner</td>
                            </tr>
                        {% for user in office.users %}
                            <tr>
                                <td>
                                    <a href="{{ path('zectranet_user_page', {'user_id': user.id }) }}" style="display: block; text-decoration: none;">
                                        <img src="{{ asset('') ~ 'documents/' ~ user.avatar }}" class="img-circle"
                                             style="width: 20px; height: 20px;">
                                        {{ user.name ~ ' ' ~ user.surname ~ ' (' ~ user.username ~ ')'}}
                                    </a>
                                </td>
                                <td>Manager</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END OF USER ROLES LIST -->


        <!-- BEGIN OF CONNECTED PROJECTS LIST -->
        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item" style="background:#ddedf4; color:#606060;">
                    <i class="fa fa-briefcase"></i>
                    <strong>Connected Projects</strong>
                </div>
                {% if office.projects|length > 0 %}
                    {% for project in office.projects %}
                        <a class="list-group-item" href="{{ path('zectranet_show_project', {'project_id': project.id }) }}">
                            <i class="fa fa-briefcase"></i>
                            <span>{{ project.name}}</span>
                        </a>
                    {% endfor %}
                {% elseif office.projects|length == 0 %}
                    <div class="list-group-item">
                        <h4 class="text-info text-center">Projects will be displayed here</h4>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- END OF CONNECTED PROJECTS LIST -->

        <!-- BEGIN OF SPRINT LIST -->
        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item" style="background:#ddedf4; color:#606060;">
                    <i class="fa fa-repeat"></i>
                    <strong> Office Sprints</strong>
                    <div style="float: right;">
                        <a style="color:#606060 !important;" class="addnew-btn-hover" data-toggle="modal" data-target="#add_sprint" href="#">
                            <i class="fa fa-plus-circle"></i> New Sprint
                        </a>
                    </div>

                </div>
                {% for sprint in office.sprints %}
                    <a class="list-group-item" href="{{ path('zectranet_show_sprint', {'sprint_id': sprint.id, 'office_id': office.id }) }}">
                        <i class="fa fa-repeat"></i>
                        <span>{{ sprint.name}}</span>
                    </a>
                {% endfor %}
                {% if office.sprints|length == 0 %}
                    <div class="list-group-item">
                        <h4 class="text-info text-center">Sprints will be displayed here</h4>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- END OF SPRINT LIST -->

        <!-- Begin of Add Sprint Modal -->
        {% include '@Zectranet/officeAddSprint.html.twig' %}
        <!-- End of Add Sprint Modal -->
    </div>

    <div ng-controller="DocumentsController">
    <div class="chat-panel list-group" ng-controller="ChatController" ng-init="getPosts(0, 100)">
        <div class="list-group-item" style="background:#ddedf4; color:#606060;">
            <i class="fa fa-comments fa-fw"></i>
            <strong>Office Chat</strong>
        </div>
        <div id="posts-panel" class="list-group-item panel-body" style="max-height: 300px;">
            {% if office.postsOffice | length == 0 %}
                <h4 class="text-info text-center vertical-center">Posts will be displayed here</h4>
            {% endif %}
            <ul class="chat">
                <li ng-repeat="post in posts" highlight style="border-bottom: none;"  class="clearfix" ng-class="{'right': {{ app.user.id }} == post.user.id, 'left': {{ app.user.id }} != post.user.id }">
                    <span class="chat-img"
                        ng-class="{'pull-right': {{ app.user.id }} == post.user.id, 'pull-left': {{ app.user.id }} != post.user.id }"
                        ng-init="avatar = generateAsset('{{ asset('') }}', 'documents/' + post.user.avatar)">
                            <img src="#" ng-src="[[avatar]]" alt="User Avatar" class="img-circle" style="width: 50px; height: 50px;"/>
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header" style="height: 28px;">
                            <strong class="primary-font"
                                    ng-class="{'pull-right': {{ app.user.id }} == post.user.id, 'pull-left': {{ app.user.id }} != post.user.id }">
                                [[post.user.name + ' ' + post.user.surname + ' (' + post.user.username + ')' ]]
                            </strong>

                            <small class="text-muted" ng-class="{'pull-left': {{ app.user.id }} == post.user.id, 'pull-right': {{ app.user.id }} != post.user.id }">
                                <i class="fa fa-clock-o fa-fw"></i>
                                Posted on <span style="color: #000000; font-style: italic">[[post.posted]]</span>
                                <i ng-if="post.edited" class="fa fa-edit"></i>
                            </small>
                        </div>
                        <pre style="white-space: pre-line;">
                            <span ng-bind-html="post.message"></span>
                        </pre>
                    </div>
                </li>
            </ul>
        </div>
        <div class="list-group-item">
            <form class="input-group input-group-lg">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="height: 65px;" data-placement="top" id="add_dialog_btn"  data-toggle="modal" data-target="#add_dialog">
                        <i class="fa fa-file"></i>
                    </button>
                </span>
                <textarea id="textarea-post"  name="message" class="form-control" rows="3" ng-keypress="pressEnter($event, message)" style="resize: vertical;font-size: 11px; height: 65px;" ng-model="message"></textarea>
                <span class="input-group-btn">
                    <button class="btn btn-primary" name="subscribe" type="button" style="height: 65px; font-size:15px;" ng-click="SendPost(message)">
                        <span>Post</span>
                    </button>
                </span>
            </form>
            <div id="slide-down-menu-screenshots" cg-busy="documentPromise" style="display: none;">
                <div id="div-screenshot" style="display: none; width: auto;height: auto;">
                    <ng-include src="{{ '\'' ~ asset('bundles/zectranet/templates/attachments.html') ~ '\'' }}"></ng-include>
                </div>
            </div>
        </div>
    </div>
    {% include '@Zectranet/dialogAdd.html.twig' %}
    </div>
{% endblock %}

{% block modals %}
    {{ parent() }}
    {% if (office.owner.id == app.user.id) or (is_granted('ROLE_ADMIN')) %}
        <!-- Begin of Delete Private Office Modal -->
        <div class="modal fade" id="delete_private_office" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header label-danger">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel" style="color: #f5f5f5;">
                            Delete Office
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="header">
                                <h3 class="text-center">Are you really want to delete this office?</h3><br>
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-danger" href="{{ path('zectranet_delete_office', {'office_id': office.id}) }}">Delete</a>
                            <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Delete Private Office Modal -->
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>


        var getDocuments_;
        JSON_URLS.documentsGet = "{{ path('zectranet_document_get') }}";
        JSON_URLS.addPost = "{{ path('zectranet_office_add_post', { 'office_id': office.id }) }}";
        JSON_URLS.getPosts = "{{ path('zectranet_office_get_post', { 'office_id': office.id }) }}";
        JSON_URLS.InsertScreenshotsInPHP = "{{ path('zectranet_InsertScreenshotsInPHP') }}";
    </script>
    <script src="{{ asset('bundles/zectranet/js/custom/chatController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/custom/documentsController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/custom/officeController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/upload/jquery.knob.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/upload/jquery.ui.widget.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/upload/jquery.iframe-transport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/upload/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/upload/script.js') }}" type="text/javascript"></script>

{% endblock %}