{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ office.name }} {% endblock %}

{% block body %}
    <div class="page-header">
        <span style="font-size: 25px;">{{ office.name }}</span>
        <a href="#"><i class="fa fa-fw fa-gear" style="font-size: 20px;"></i></a>
        <a href="#"><i class="fa fa-fw fa-trash" style="color: red; font-size: 20px;"></i></a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Office Description:</div>
                <div class="panel-body">{{ office.description }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- BEGIN OF USER ROLES LIST -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user fa-fw"></i>
                    Connected Users
                </div>
                <div class="panel-body">
                    {% if office.users|length > 0 %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in office.users %}
                                    <tr>
                                        <td>
                                            <a href="#" style="display: block; text-decoration: none;">
                                                <img src="{{ asset('') ~ 'documents/' ~ user.avatar }}" class="img-circle"
                                                     style="width: 20px; height: 20px;">
                                                {{ user.name ~ ' ' ~ user.surname ~ ' (' ~ user.username ~ ')'}}
                                            </a>
                                        </td>
                                        <td>Manager</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% elseif office.users|length == 0 %}
                        <h4 class="text-info text-center">Users will be displayed here</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- END OF USER ROLES LIST -->

        <!-- BEGIN OF CONNECTED PROJECTS LIST -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-briefcase"></i>
                    <span>Connected Projects</span>
                </div>
                <div class="panel-body">
                    {% if office.projects|length > 0 %}
                    <div class="list-group">
                        {% for project in office.projects %}
                            <a class="list-group-item" href="{{ path('zectranet_show_project', {'project_id': project.id }) }}">
                                <i class="fa fa-briefcase"></i>
                                <span>{{ project.name}}</span>
                            </a>
                        {% endfor %}
                    </div>
                    {% elseif office.projects|length == 0 %}
                        <h4 class="text-info text-center">Projects will be displayed here</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- END OF CONNECTED PROJECTS LIST -->

        <!-- BEGIN OF SPRINT LIST -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-repeat"></i>
                    Office Sprints
                </div>
                <div class="panel-body">
                    {% for sprint in office.sprints %}
                        <a>{{ sprint.name }}</a>
                    {% endfor %}
                    {% if office.sprints|length == 0 %}
                        <h4 class="text-info text-center">Sprints will be displayed here</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- END OF SPRINT LIST -->
    </div>

    <div class="chat-panel panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-comments fa-fw"></i>
            Office Chat
        </div>
        <div class="panel-body">
            <ul class="chat">
                {% for post in office.postsOffice %}
                    <li class="{% if app.user.id == post.user.id %}right{% else %}left{% endif %} clearfix">
                        <span class="chat-img {% if app.user.id == post.user.id %}pull-right{% else %}pull-left{% endif %}">
                            <img src="{{ asset('') ~ 'documents/' ~ post.user.avatar }}" alt="User Avatar" class="img-circle" style="width: 50px; height: 50px;"/>
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header" style="height: 28px;">
                                <strong class="{% if app.user.id == post.user.id %}pull-right{% else %}pull-left{% endif %} primary-font">
                                    {{ post.user.name ~ ' ' ~ post.user.surname ~ ' (' ~ post.user.username ~ ')' }}
                                </strong>
                                <small class="{% if app.user.id == post.user.id %}pull-left{% else %}pull-right{% endif %} text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i>
                                    Posted on {{ post.posted|date('Y-m-d h:i:s') }}
                                    {% if post.edited != null %}
                                        <i class="fa fa-edit"></i>
                                    {% endif %}
                                </small>
                            </div>
                            <pre style="white-space: pre-line;">
                                <span>
                                    {{ post.message }}
                                </span>
                            </pre>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="panel-footer">
            <form class="input-group input-group-lg" action="{{ path('zectranet_office_add_post', { 'office_id': office.id  }) }}" method="post">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="height: 65px;">
                        <i class="fa fa-file"></i>
                    </button>
                </span>
                <textarea name="message" class="form-control" rows="3" style="font-size: 11px; height: 65px;"></textarea>
                <span class="input-group-btn">
                    <button class="btn btn-primary" name="subscribe" type="submit" style="height: 65px; font-size:15px;">
                        <span>Post</span>
                    </button>
                </span>
            </form>
        </div>
    </div>
{% endblock %}