{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ office.name }} {% endblock %}

{% block body %}
    <div class="page-header">
        {% if office.owner.id == app.user.id %}
            <i class="fa fa-home fa-2x"></i>
        {% else %}
            <i class="fa fa-sitemap fa-2x"></i>
        {% endif %}
        <span style="font-size: 25px;">{{ office.name }}</span>
        <!-- Begin of Office controll buttons -->
        {% if (office.owner.id == app.user.id) or (is_granted('ROLE_ADMIN')) %}
            <a href="#" style="text-decoration: none;">
                <i class="fa fa-fw fa-gear" style="font-size: 20px;"></i>
            </a>

            <a href="#" style="text-decoration: none;" data-toggle="modal" data-target="#delete_private_office">
                <i class="fa fa-fw fa-trash" style="color: red; font-size: 20px;"></i>
            </a>
        {% endif %}
        <!-- End of Office controll buttons -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                <div class="list-group-item active">Office Description:</div>
                <div class="list-group-item">{{ office.description }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- BEGIN OF USER ROLES LIST -->
        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item active">
                    <i class="fa fa-user fa-fw"></i>
                    Connected Users
                </div>
                <div class="list-group-item">
                    {% if office.users|length > 0 %}
                        <table class="table" style="margin-bottom: 0">
                            <thead>
                            <tr>
                                <th>User</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in office.users %}
                                <tr>
                                    <td>
                                        <a href="#" style="display: block; text-decoration: none;">
                                            <img src="{{ asset('') ~ 'documents/' ~ user.avatar }}" class="img-circle"
                                                 style="width: 20px; height: 20px;">
                                            {{ user.name ~ ' ' ~ user.surname ~ ' (' ~ user.username ~ ')'}}
                                        </a>
                                    </td>
                                    <td>Manager</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% elseif office.users|length == 0 %}
                        <h4 class="text-info text-center">Users will be displayed here</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- END OF USER ROLES LIST -->

        <!-- BEGIN OF CONNECTED PROJECTS LIST -->
        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item active">
                    <i class="fa fa-briefcase"></i>
                    <span>Connected Projects</span>
                </div>
                {% if office.projects|length > 0 %}
                    {% for project in office.projects %}
                        <a class="list-group-item" href="{{ path('zectranet_show_project', {'project_id': project.id }) }}">
                            <i class="fa fa-briefcase"></i>
                            <span>{{ project.name}}</span>
                        </a>
                    {% endfor %}
                {% elseif office.projects|length == 0 %}
                    <div class="list-group-item">
                        <h4 class="text-info text-center">Projects will be displayed here</h4>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- END OF CONNECTED PROJECTS LIST -->

        <!-- BEGIN OF SPRINT LIST -->
        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item active">
                    <i class="fa fa-repeat"></i>
                    Office Sprints
                </div>
                {% for sprint in office.sprints %}
                    <a class="list-group-item" href="#">
                        <i class="fa fa-repeat"></i>
                        <span>{{ sprint.name}}</span>
                    </a>
                {% endfor %}
                {% if office.sprints|length == 0 %}
                    <div class="list-group-item">
                        <h4 class="text-info text-center">Sprints will be displayed here</h4>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- END OF SPRINT LIST -->
    </div>

    <div class="chat-panel list-group" ng-controller="ChatController" ng-init="getPosts(0,10)">
        <div class="list-group-item active">
            <i class="fa fa-comments fa-fw"></i>
            Office Chat
        </div>
        <div class="list-group-item panel-body" style="max-height: 300px;">
            {% if office.postsOffice | length == 0 %}
                <h4 class="text-info text-center vertical-center">Posts will be displayed here</h4>
            {% endif %}
            <div ng-repeat="post in posts ">[[ post.message ]]</div>
            <ul class="chat">
                {% for post in office.postsOffice %}
                    <li class="{% if app.user.id == post.user.id %}right{% else %}left{% endif %} clearfix">
                        <span class="chat-img {% if app.user.id == post.user.id %}pull-right{% else %}pull-left{% endif %}">
                            <img src="{{ asset('') ~ 'documents/' ~ post.user.avatar }}" alt="User Avatar" class="img-circle" style="width: 50px; height: 50px;"/>
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header" style="height: 28px;">
                                <strong class="{% if app.user.id == post.user.id %}pull-right{% else %}pull-left{% endif %} primary-font">
                                    {{ post.user.name ~ ' ' ~ post.user.surname ~ ' (' ~ post.user.username ~ ')' }}
                                </strong>
                                <small class="{% if app.user.id == post.user.id %}pull-left{% else %}pull-right{% endif %} text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i>
                                    Posted on {{ post.posted|date('Y-m-d h:i:s') }}
                                    {% if post.edited != null %}
                                        <i class="fa fa-edit"></i>
                                    {% endif %}
                                </small>
                            </div>
                            <pre style="white-space: pre-line;">
                                <span>
                                    {{ post.message }}
                                </span>
                            </pre>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="list-group-item">
            <form class="input-group input-group-lg" action="{{ path('zectranet_office_add_post', { 'office_id': office.id  }) }}" method="post">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="height: 65px;">
                        <i class="fa fa-file"></i>
                    </button>
                </span>
                <textarea name="message" class="form-control" rows="3" style="font-size: 11px; height: 65px;" ng-model="message"></textarea>
                <span class="input-group-btn">
                    <button class="btn btn-primary" name="subscribe" type="button" style="height: 65px; font-size:15px;" ng-click="SendPost(message)">
                        <span>Post</span>
                    </button>
                </span>
            </form>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ parent() }}
    {% if (office.owner.id == app.user.id) or (is_granted('ROLE_ADMIN')) %}
        <!-- Begin of Delete Private Office Modal -->
        <div class="modal fade" id="delete_private_office" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header label-danger">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel" style="color: #f5f5f5;">
                            Delete Office
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="header">
                                <h3 class="text-center">Are you really want to delete this office?</h3><br>
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-danger" href="{{ path('zectranet_delete_office', {'office_id': office.id}) }}">Delete</a>
                            <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Delete Private Office Modal -->
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        JSON_URLS.addPost = "{{ path('zectranet_office_add_post', { 'office_id': office.id }) }}";
        JSON_URLS.getPosts = "{{ path('zectranet_office_get_post', { 'office_id': office.id }) }}";
    </script>
    <script src="{{ asset('bundles/zectranet/js/custom/chatController.js') }}" type="text/javascript"></script>

{% endblock %}