{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <div ng-controller="ProjectController" ng-init="getEpicStories({{ project.id }})">
        <div class="row">
            <ol class="breadcrumb" style="margin: 0 -30px; border-radius: 0 !important; padding: 12px 50px; background-color: #fbfbfb; ">
                <li>
                    <a href="{{ path('zectranet_show_office', { 'office_id': project.office.id }) }}">{{ project.office.name }}</a>
                </li>
                <li class="active">
                    {{ project.name }}
                </li>
            </ol>
        </div>

        <div class="page-header">
            <div class="row">
                <div class="col-md-6">
                    <span style="font-size: 30px; font-family: 'PT Sans Narrow', sans-serif; font-weight: bold;">{{ project.name }}</span>
                </div>
                <div class="col-md-6">
                    <!-- Begin of Project controll buttons -->
                    <div class="pull-right">
                        {% if project.owner.id == app.user.id or (is_granted('ROLE_ADMIN')) %}
                            <div class="pull-right" data-toggle="tooltip" data-placement="top" title="Delete This Project">
                                <a style="cursor: pointer; text-decoration: none;" data-toggle="modal" data-target="#delete_private_project">
                                    <i class="fa text-danger fa-fw fa-trash  fa-2x"></i>
                                </a>
                            </div>

                            <div class="pull-right" data-toggle="tooltip" data-placement="top" title="Project Settings">
                                <a style="cursor: pointer; text-decoration: none;" href="{{ path('zectranet_settings_project', {'project_id': project.id }) }}">
                                    <i class="fa text-primary fa-fw fa-gear fa-2x"></i>
                                </a>
                            </div>
                        {% endif %}
                            {#<div class="pull-right" data-toggle="tooltip" data-placement="top" title="Project Versions">
                                <a style="cursor: pointer; text-decoration: none;" href="{{ path('zectranet_show_project_versions', {'project_id': project.id }) }}">
                                    <i class="fa text-warning fa-fw fa-code fa-2x"></i>
                                </a>
                            </div>#}

                        {% set enableCS = false %}

                        {% for permission in project.projectPermissions %}
                            {% if (permission.userid == app.user.id) and (permission.enableCreateSprint) %}
                                {% set enableCS = true %}

                            {% endif %}
                        {% endfor %}

                        {% if (project.owner.id == app.user.id) or (is_granted('ROLE_ADMIN')) or (enableCS == true) %}
                            <div class="pull-right" data-toggle="tooltip" data-placement="top" title="Project Sprints">
                                <a style="cursor: pointer; text-decoration: none;" data-toggle="modal" data-target="#project_sprints">
                                    <i class="fa text-warning fa-fw fa-repeat  fa-2x"></i>
                                </a>
                            </div>
                        {% endif %}

                    </div>
                    <!-- End of Project controll buttons -->
                </div>
            </div>
        </div>

        {% include '@Zectranet/projectVersionsModal.html.twig' %}

        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <!-- BEGIN OF PROJECT USERS PANEL -->
                    <div class="col-xs-12">
                        <ul class="list-group" style="box-shadow: 2px 3px 6px 0 darkkhaki; height: 300px; overflow-y: auto;">
                            <li class="list-group-item active"  style="background:#ddedf4; color:#606060;">
                                <b>Project Users</b>
                            </li>
                            {% for user in project.users %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <img class="img-responsive img-circle" src="{{ asset('') ~ 'documents/' ~ user.avatar }}" alt="avatar" />
                                        </div>
                                        <div class="col-xs-10">
                                            <p>
                                                <a href="{{ path('zectranet_user_page', {'user_id': user.id}) }}">
                                                    {{ user.name ~ ' ' ~ user.surname }}
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- END OF PROJECT USERS PANEL -->

                    <div class="col-xs-12">
                        <div class="panel panel-default" style="box-shadow: 2px 3px 6px 0 darkkhaki;">
                            <div class="panel-body" style="background:#ddedf4; color:#606060;">
                                <strong>Navigation</strong>
                                {% if app.user.id == project.owner.id %}
                                    <div style="float: right;">
                                        <a style="color:#606060 !important;" class="addnew-btn-hover" data-toggle="modal" data-target="#add_epic_story" href="#">
                                            <i class="fa fa-plus-circle"></i> New Epic Story
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            <div cg-busy="promiseProject">
                                <div style="max-height: 220px; overflow-y: auto; min-height: 220px;">
                                    <a class="list-group-item" style="cursor: pointer;"
                                       ng-click="changeCurrentPage({{ project.id }}); removeHighlightFromEpicStories();">
                                        <i class="fa fa-briefcase"></i>
                                        {{ project.name }}
                                    </a>
                                    <a class="list-group-item" ng-repeat="story in epicStories" style="cursor: pointer;"
                                       ng-init="story.selected = false;" ng-class="{'list-group-item-success': story.selected }"
                                       ng-click="changeCurrentPage(story.id); highlightCurrentEpicStory(story.id);">
                                        <i class="fa fa-briefcase"></i>
                                        [[ story.name ]]
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div ng-controller="DocumentsController">
                            <!-- BEGIN OF CHAT PANEL -->
                            <div ng-controller="ChatController" style="margin-bottom: 20px;">
                                <div class="list-group-item" style="background:#ddedf4; color:#606060;">
                                    <i class="fa fa-comments fa-fw"></i>
                                    <strong> Project Chat</strong>
                                </div>
                                <div id="posts-panel" class="list-group-item panel-body" cg-busy="promise" style="overflow-x: hidden; min-height: 450px;">
                                    <div ng-if="(posts == null) || (posts.length == 0)" class="center-block vertical-center">
                                        <h3 class="text-info text-center">Post will be displayed here</h3>
                                    </div>

                                    <ng-include src="{{ '\'' ~ asset('bundles/zectranet/templates/chat.html') ~ '\'' }}"></ng-include>

                                </div>
                                <div class="list-group-item">
                                    <form class="input-group input-group-lg">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" style="height: 65px;" data-placement="top" id="add_dialog_btn" data-toggle="modal" data-target="#add_dialog">
                                                <i class="fa fa-file"></i>
                                            </button>
                                        </span>
                                        <textarea id="textarea-post" name="message" class="form-control" rows="3" style="resize: vertical;font-size: 11px; height: 65px;"  ng-keyup="pressEnter($event);" ng-model="message"></textarea>
                                        <span class="input-group-btn" ng-if="editPostButtonVisible == false">
                                            <button class="btn btn-primary" name="subscribe" type="button" style="height: 65px; font-size:15px;" ng-click="SendPost(message)">
                                                <span>Post</span>
                                            </button>
                                        </span>
                                        <span class="input-group-btn" ng-if="editPostButtonVisible == true">
                                            <button  class="btn btn-primary" name="subscribe" type="button" style="height: 65px; font-size:15px;" ng-click="EditPost(message)">
                                                <span>Edit</span>
                                            </button>
                                        </span>
                                    </form>
                                    <div id="slide-down-menu-screenshots" style="display: none;" cg-busy="documentPromise">
                                        <div id="div-screenshot" style="display: none; width: auto;height: auto;">
                                            <ng-include src="{{ '\'' ~ asset('bundles/zectranet/templates/attachments.html') ~ '\'' }}"></ng-include>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END OF CHAT PANEL -->
                            {% include '@Zectranet/dialogAdd.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- BEGIN OF EPIC STORY ADD MODAL -->
        {% include '@Zectranet/projectAddEpicStory.html.twig' %}
        <!-- END OF EPIC STORY ADD MODAL -->

        <!-- Begin of Tasks -->
        <div class="row" ng-controller="TaskController">
            <div class="col-md-12">
                <div class="panel panel-default list-group">
                    <div class="list-group-item" style="background:#ddedf4; color:#606060;">
                        <i class="fa fa-tasks"></i>
                        <strong>
                            Tasks
                            <span class="btn btn-default pull-right" ng-click="getTasks();" style="margin: 0;">
                                <i class="fa fa-repeat"></i>
                            </span>
                            <span class="clearfix"></span>
                        </strong>
                    </div>

                    <div cg-busy="promise" class="panel-body">
                        <!-- Begin of Task Nav Tabs -->
                        <div class="row">
                            <ul id="task-view-tabs" class="nav nav-tabs" role="tablist">
                                <li data-toggle="tooltip" data-placement="top" title="Table view" role="presentation" class="active">
                                    <a data-toggle="tab" id="task-view-table" class="btn" href="#table-view" aria-controls="table-view" role="tab" aria-expanded="true">
                                        <i class="fa fa-table fa-2x"></i>
                                    </a>
                                </li>
                                {#
                                <li data-toggle="tooltip" data-placement="top" title="List view" role="presentation">
                                    <a data-toggle="tab" id="task-view-list" class="btn" href="#list-view" aria-controls="list-view" role="tab" aria-expanded="false">
                                        <i class="fa fa-list fa-2x"></i>
                                    </a>
                                </li>
                                #}
                                <li data-toggle="tooltip" data-placement="top" title="Agile view" role="presentation">
                                    <a data-toggle="tab" id="task-view-agile"  class="btn" href="#agile-view" aria-controls="agile-view" role="tab" aria-expanded="false">
                                        <i class="fa fa-th fa-2x"></i>
                                    </a>
                                </li>
                                <li data-toggle="tooltip" data-placement="top" title="Add new task" role="presentation">
                                    <a id="add_new_task_btn" style="cursor: pointer" data-toggle="modal" data-target="#add_new_task">
                                        <i class="fa fa-plus fa-2x"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- End of Task Nav Tabs -->

                        <div id="tasks-tab-content" class="tab-content">

                            <!-- Begin of Task Table View -->
                            <div id="table-view" style="min-height: 300px;" class="tab-pane fade in active" aria-labelledby="task-view-table" role="tabpanel">
                                <ng-include src="{{ '\'' ~ asset('bundles/zectranet/templates/task-table.html') ~ '\'' }}"></ng-include>
                            </div>
                            <!-- End of Task Table View -->

                            <!-- Begin of Task Agile View -->
                            <div id="agile-view" class="tab-pane fade" aria-labelledby="task-view-agile" role="tabpanel">
                                <ng-include src="{{ '\'' ~ asset('bundles/zectranet/templates/task-agile.html') ~ '\'' }}"></ng-include>
                            </div>
                            <!-- End of Task Agile View -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Begin of Task operations modals -->
            {% include '@Zectranet/taskAdd.html.twig' %}

            {% include '@Zectranet/taskAddSub.html.twig' %}

            {% include '@Zectranet/taskDelete.html.twig' %}

            {% include '@Zectranet/projectAddTaskToSprint.html.twig' %}
            <!-- End of Task operations modals -->

        </div>
        <!-- End of Tasks -->

        <div ng-init="changeCurrentPage('{{ project.id }}')"></div>
    </div>

    {% include '@Zectranet/projectSprints.html.twig' %}
    {% if project.owner.id == app.user.id or (is_granted('ROLE_ADMIN')) %}
        <!-- Begin of Delete Private Project Modal -->
        {% include '@Zectranet/projectDelete.html.twig' %}
        <!-- End of Delete Private Project Modal -->
    {% endif %}

{% endblock %}

{% block modals %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $('#task-view-tabs a').click(function (e) {
            if ($(this).id != $('a#add_new_task_btn').id) {
                $(this).tab('show');
            }
            e.preventDefault();
        });

        JSON_URLS.addPost = "{{ path('zectranet_project_add_post', { 'project_id': 0 }) }}";
        JSON_URLS.getPosts = "{{ path('zectranet_project_get_post', { 'project_id': 0 }) }}";
        JSON_URLS.editPost = "{{ path('zectranet_project_post_edit', { 'post_id': 0 }) }}";

        JSON_URLS.getEpicStories = "{{ path('zectranet_project_get_epic_stories', { 'project_id': project.id }) }}";
        JSON_URLS.addEpicStory = "{{ path('zectranet_project_add_epic_story', { 'project_id': project.id }) }}";

        JSON_URLS.getProjectVersions = "{{ path('zectranet_get_project_versions', { 'project_id': project.id }) }}";
        JSON_URLS.addNewProjectVersion = "{{ path('zectranet_add_project_version', { 'project_id': project.id }) }}";
    </script>

    <script src="{{ asset('bundles/zectranet/js/notify.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/zectranet/js/custom/chatController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/custom/projectController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/custom/documentsController.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/zectranet/js/upload/jquery.knob.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/upload/jquery.ui.widget.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/upload/jquery.iframe-transport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/upload/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/upload/script.js') }}" type="text/javascript"></script>

    <script>
        var getDocuments_;
        JSON_URLS.documentsGet = "{{ path('zectranet_document_get') }}";
        JSON_URLS.deleteFile  = "{{ path('zectranet_document_delete', { fileid : 0 }) }}";
        JSON_URLS.renameFile  = "{{ path('zectranet_document_rename', { fileid : 0 }) }}";
        JSON_URLS.InsertScreenshotsInPHP = "{{ path('zectranet_InsertScreenshotsInPHP') }}";
        TEMPPARAMS.NOW = '{{ "now" | date('Y-m-d') }}';
        JSON_URLS.saveTaskInfo = "{{ path('zectranet_task_edit_info', { 'task_id': 0}) }}";
    </script>
{% endblock %}