{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <div class="page-header">
        <i class="fa fa-briefcase fa-2x"></i>
        <span style="font-size: 25px;">{{ project.name }}</span>

        <!-- Begin of Project controll buttons -->
        {% if project.owner.id == app.user.id or (is_granted('ROLE_ADMIN')) %}
            <a href="#" style="text-decoration: none;">
                <i class="fa fa-fw fa-gear" style="font-size: 20px;"></i>
            </a>

            <a href="#" style="text-decoration: none;" data-toggle="modal" data-target="#delete_private_project">
                <i class="fa fa-fw fa-trash" style="color: red; font-size: 20px;"></i>
            </a>
        {% endif %}
        <!-- End of Project controll buttons -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel list-group">
                <div class="list-group-item active">
                    <i class="fa fa-tasks"></i>
                    <span>Tasks</span>
                </div>
                <div class="panel-heading list-group-item">
                    <div class="btn-group">
                        <div class="btn btn-default active">Task view: </div>
                        <div class="btn btn-default">Table</div>
                        <div class="btn btn-default">List</div>
                        <div class="btn btn-default">Agile board</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN OF CHAT PANEL -->
    <div class="chat-panel list-group">
        <div class="list-group-item active">
            <i class="fa fa-comments fa-fw"></i>
            Office Chat
        </div>
        <div class="list-group-item panel-body" style="max-height: 300px;">
            {% if project.postsProject | length == 0 %}
                <h4 class="text-info text-center vertical-center">Posts will be displayed here</h4>
            {% endif %}
            <ul class="chat">
                {% for post in project.postsProject %}
                    <li class="{% if app.user.id == post.user.id %}right{% else %}left{% endif %} clearfix">
                        <span class="chat-img {% if app.user.id == post.user.id %}pull-right{% else %}pull-left{% endif %}">
                            <img src="{{ asset('') ~ 'documents/' ~ post.user.avatar }}" alt="User Avatar" class="img-circle" style="width: 50px; height: 50px;"/>
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header" style="height: 28px;">
                                <strong class="{% if app.user.id == post.user.id %}pull-right{% else %}pull-left{% endif %} primary-font">
                                    {{ post.user.name ~ ' ' ~ post.user.surname ~ ' (' ~ post.user.username ~ ')' }}
                                </strong>
                                <small class="{% if app.user.id == post.user.id %}pull-left{% else %}pull-right{% endif %} text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i>
                                    Posted on {{ post.posted|date('Y-m-d h:i:s') }}
                                    {% if post.edited != null %}
                                        <i class="fa fa-edit"></i>
                                    {% endif %}
                                </small>
                            </div>
                            <pre style="white-space: pre-line;">
                                <span>
                                    {{ post.message }}
                                </span>
                            </pre>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="list-group-item">
            <form class="input-group input-group-lg" action="{{ path('zectranet_project_add_post', { 'project_id': project.id  }) }}" method="post">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="height: 65px;">
                        <i class="fa fa-file"></i>
                    </button>
                </span>
                <textarea name="message" class="form-control" rows="3" style="font-size: 11px; height: 65px;"></textarea>
                <span class="input-group-btn">
                    <button class="btn btn-primary" name="subscribe" type="submit" style="height: 65px; font-size:15px;">
                        <span>Post</span>
                    </button>
                </span>
            </form>
        </div>
    </div>
    <!-- END OF CHAT PANEL -->
{% endblock %}

{% block modals %}
    {{ parent() }}
    {% if project.owner.id == app.user.id or (is_granted('ROLE_ADMIN')) %}
        <!-- Begin of Delete Private Project Modal -->
        <div class="modal fade" id="delete_private_project" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header label-danger">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel" style="color: #f5f5f5;">
                            Delete Project
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="header">
                                <h3 class="text-center">Are you really want to delete this project?</h3><br>
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-danger" href="{{ path('zectranet_delete_project', {'project_id': project.id }) }}">Delete</a>
                            <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Delete Private Project Modal -->
    {% endif %}
{% endblock %}