{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}

    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('zectranet_show_office', { 'office_id': project.office.id }) }}">{{ project.office.name }}</a>
            </li>

            <li>
                <a href="{{ path('zectranet_show_project', { 'project_id': project.id }) }}">{{ project.name }}</a>
            </li>

            <li>Settings</li>
        </ol>
    </div>

    <div class="page-header">
        <div class="row">
            <div class="col-md-12">
                <span style="font-size: 30px; font-family: 'PT Sans Narrow', sans-serif; font-weight: bold;">Settings</span>
            </div>
        </div>
    </div>

    <div ng-controller="ProjectSettingsController">
        <div ng-init="getProjectSettingInfo();">
            <div class="row">
                <div class="col-md-3 " style="margin-top: 15px;">
                    <ul class="list-group" style="box-shadow: 2px 3px 6px 0 darkkhaki; height: 250px;overflow-y: auto; margin-bottom: 0;">
                        <li class="list-group-item active" style="background-color: #ddedf4; color: #000000;">
                            HO Contacts available
                        </li>
                        <li class="list-group-item" style="cursor: pointer;"
                            ng-repeat="HO_Contact in HO_Contacts"
                            ng-class="{'contact-list-active':HO_Contact.checked}"
                            ng-click="contactChecked(1, $index, HO_Contacts);" >
                            [[ HO_Contact.username ]]
                        </li>
                    </ul>
                    <a ng-init="testClickableButton(1,HO_Contacts);" ng-if="HO_Contacts_test"  class="btn btn-default btn-success" data-toggle="modal"
                       data-target="#send_request_by_HO_contacts" style="width: 100%;">
                        Send Request
                    </a>
                </div>

                <div class="col-md-3 " style="margin-top: 15px;">
                    <ul class="list-group"  style="box-shadow: 2px 3px 6px 0 darkkhaki; height: 250px;overflow-y: auto; margin-bottom: 0;">
                        <li class="list-group-item active" style="background-color: #ddedf4; color: #000000;">
                            All Contacts
                        </li>
                        <li class="list-group-item" style="cursor: pointer;"
                            ng-repeat="contact in All_Contacts"
                            ng-class="{'contact-list-active':contact.checked}"
                            ng-click="contactChecked(2,$index,All_Contacts);">
                            [[ contact.username ]]
                        </li>
                    </ul>
                    <a ng-init="testClickableButton(2,All_Contacts);" ng-if="All_Contacts_test" class="btn btn-default btn-success" data-toggle="modal"
                       data-target="#send_request_by_All_contacts" style="width: 100%;">
                        Send Request
                    </a>
                </div>

                <div class="col-md-6">
                    <div class="list-group" style="margin-top: 15px;">
                        <div class="list-group-item active" style="background-color: #ddedf4; color: #000000;">
                            Project Team
                        </div>
                        <div class="list-group-item" style="height: 240px;overflow-y: auto;">
                            <table class="table">
                                <thead class="table-striped">
                                <tr>
                                    <th>User Name</th>
                                    <th>Status</th>
                                    <th>Reply</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="request in Project_Team">
                                    <td>
                                        [[ request.user.username ]]
                                    </td>
                                    <td>
                                        <span ng-if="request.reSendVisibleButton == false" class="label" style="background-color: [[ request.status.color ]]">[[ request.status.label ]]</span>
                                        <span ng-if="request.reSendVisibleButton == true" class="label" style="background-color: hotpink;">Pending</span>
                                    </td>
                                    <td>

                                            <span ng-if="request.reSendVisibleButton == true" class="label" style="background-color: #337ab7;cursor: pointer;" ng-click="reSendRequest(request)">
                                            Re-Send
                                        </span>

                                    </td>
                                    <td>
                                        <i class="fa fa-close" style="color: red;cursor: pointer;" ng-click="deleteProjectRequest(request.id);"></i>
                                    </td>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!------------ Begin of project log ------------>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-xs-12">
                    <div class="list-group">
                        <div class="list-group-item active" style="background-color: #ddedf4; color: #000000;">
                            <div class="text-center">
                                Project logs
                                <a class="btn-xs pull-right" ng-click="QnALogsVisible = !QnALogsVisible">
                                    <i ng-hide="QnALogsVisible" class="fa fa-plus-circle fa-fw"></i>
                                    <i ng-show="QnALogsVisible" class="fa fa-fw fa-minus-circle"></i>
                                </a>
                            </div>
                        </div>
                        <div class="list-group-item" ng-show="QnALogsVisible">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Event</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody style="height: 200px; max-height: 400px; overflow-y: auto;">
                                <tr ng-repeat="log in ProjectLogs">
                                    <td>[[ $index + 1 ]]</td>
                                    <td>[[ log.event ]]</td>
                                    <td>[[ log.date ]]</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!------------ End of project log -------------->

            <div class="row">
                <div class="col-md-12">

                    {% if project.users | length < 2 %}
                    <div></div>

                    {% else %}

                    <div style="margin-top: 20px; font-size: 1.3em; text-align: center; background-color: #F5F5F5; padding: 8px 0; border: 1px solid #ccc; border-radius: 5px;">
                        Project Users
                    </div>

                    <div class="table-responsive" style="margin-top: 20px;">
                        <table class="table">

                            <thead>

                            <tr>
                                <td>Name</td>
                                <td>Enable create sprint</td>
                                <td></td>
                            </tr>

                            </thead>

                            {% for user in project.users %}
                                {% if app.user.username != user.username %}

                                    <form action="{{ path('zectranet_project_permission_save', {'project_id': project.id, 'user_id': user.id}) }}" method="post">
                                        <tbody>

                                        <tr>
                                            <td>{{ user.username }}</td>
                                            <td>
                                                <input type="checkbox" name="enableCreateSprint"
                                                    {% for permission in project.projectPermissions %}
                                                        {% if (permission.userid == user.id) and (permission.enableCreateSprint) %} checked {% endif %}
                                                    {% endfor %}>
                                            </td>
                                            <td>
                                                <input type="submit" class="btn btn-default" value="Save">
                                            </td>
                                        </tr>

                                        </tbody>
                                    </form>

                                {% endif %}
                            {% endfor %}

                            {% endif %}

                        </table>
                    </div>

                </div>
            </div>

            <!-- START MODAL -->
            <div class="modal fade" id="send_request_by_HO_contacts" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header " style="background-color: #e7e7e7 !important;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color: #000000;" align="center">
                                Send Request
                            </h4>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-offset-1 col-xs-10">
                                    <div class="form-group">
                                        <label>
                                            <b>Request Message</b>
                                        </label>
                                        <textarea class="form-control " rows="5" style="width: 100%;resize: vertical;"
                                                  ng-model="HO_contact_message"
                                                  ng-init="HO_contact_message = '{{ app.user.username ~', has invited you to join ' ~   project.name }}'">

                                        </textarea>
                                        <br/>
                                        <div ng-if="QNASettingsErrors.HO_Contact_message_Error == true">
                                            <span  class="label label-danger"> Please fill out this field </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-default" ng-click="SendRequest(1,HO_contact_message,HO_Contacts);">Send Request</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade" id="send_request_by_All_contacts" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header " style="background-color: #e7e7e7 !important;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color: #000000;" align="center">
                                Send Request
                            </h4>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-offset-1 col-xs-10">
                                    <div class="form-group">
                                        <label>
                                            <b>Request Message</b>
                                        </label>
                                        <textarea  class="form-control " rows="5" style="width: 100%;resize: vertical;"
                                                   ng-model="All_contact_message"
                                                   ng-init="All_contact_message = '{{ app.user.username ~', has invited you to join ' ~   project.name }}'">

                                        </textarea>
                                        <br/>
                                        <div ng-if="QNASettingsErrors.All_Contact_message_Error == true">
                                            <span  class="label label-danger"> Please fill out this field </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-default" ng-click="SendRequest(2, All_contact_message, All_Contacts);">Send Request</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END MODAL -->

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/zectranet/js/custom/projectSettingsController.js') }}"></script>
    <script>

        JSON_URLS.urlGetProjectSettingInfo = "{{ path('zectranet_get_project_settings_info', { 'project_id': project.id}) }}";
        JSON_URLS.urlSendProjectRequest = "{{ path('zectranet_send_project_request', { 'project_id': project.id}) }}";
        JSON_URLS.urlDeleteProjectRequest = "{{ path('zectranet_delete_project_request', { 'project_id': project.id , 'request_id': 'requestid'}) }}";
        JSON_URLS.ReSendProjectRequest = "{{ path('zectranet_re_send_request', { 'project_id': project.id}) }}";
    </script>
{% endblock %}