{% extends '@Zectranet/index.html.twig' %}

{% block title %}All Contacts{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
        <h2 class="page-header" style="font-family: 'PT Sans Narrow', sans-serif"> All members</h2>
        </div>
    </div>

    <div class="row">
        {% for user in users %}
        <div class="col-xs-12 publickMarker-all-member">
            <div class="col-xs-1">
                <img class="img-responsive" src="{{ asset('') }}documents/{{ user.avatar }}">
            </div>
            <div class="col-xs-8 all-member-text">
                <h4>
                    <a href="{{ path('zectranet_user_page', {'user_id': user.id}) }}">
                        {{ user.name ~ ' ' ~ user.surname ~ ' (' ~ user.username ~ ')' }}
                    </a>
                </h4>
                {% if user.userInfo.skillsVisible %}
                <span class="all-member-work">
                    {{ user.userInfo.skills }}
                </span>
                {% endif %}
                <br>
                {% if user.userInfo.residenceCountryVisible %}
                <span class="all-member-address text-muted">
                    {{ user.userInfo.residenceCountry }}
                </span>
                {% endif %}
            </div>
            <div class="col-xs-12">
                <hr style="margin: 8px 0 0 0;">
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}