{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ forum.name }}{% endblock %}

{% block styles %}
    {{ parent() }}

    <link href="{{ asset('bundles/zectranet/css/QnAForum.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}

    <div class="row">
        <ol class="breadcrumb"  style="margin: 0 -30px; border-radius: 0 !important; padding: 12px 50px; background-color: #fbfbfb; ">
            <li>
                <a href="{{ path('zectranet_show_office', { 'office_id': forum.office.id }) }}">{{ forum.office.name }}</a>
            </li>
            <li class="active">
                {{ forum.name }}
            </li>
        </ol>
    </div>

    <div class="page-header" id="notSelect">
        <div class="row">
            {% if forum.ownerID == app.user.id or (is_granted('ROLE_ADMIN')) %}
                <div class="col-md-10" style="word-wrap: break-word; white-space: normal;">
                    <div ng-click="setFormEdit()" ng-mouseleave="setFormNone()" style="display: inline-block;">
                        <div ng-if="formStatus == 'formNone'" ng-mouseenter="setIconEdit()" ng-mouseleave="setIconNone()" id="spanLength" style="cursor: pointer;">
                            <span style="font-size: 30px; font-family: 'PT Sans Narrow', sans-serif; font-weight: bold; padding: 0 5px;">{{ forum.name }}</span>
                            <span ng-if="iconEdit" style="font-size: 30px; font-family: 'PT Sans Narrow', sans-serif; font-weight: bold; padding: 0 5px; border-left: 1px solid #ccc;">
                                <i style="color: #A9A6A6;" class="fa fa-edit"></i>
                            </span>
                        </div>
                        <form ng-class="formStatus" action="{{ path('zectranet_QnA_forum_edit_name', {'project_id' : forum.id}) }}" method="post">
                            <input id="inputName" ng-focus="focus = true" ng-blur="setBlure()" type="text" value="{{ forum.name }}" name="newName" class="form-control" style="height: 44px; font-size: 18px;" required>
                            <input type="submit" class="hidden">
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="col-md-10">
                    <span style="font-size: 30px; font-family: 'PT Sans Narrow', sans-serif; font-weight: bold;">{{ forum.name }}</span>
                </div>
            {% endif %}

            <div class="col-md-2" style="font-size: 18px;">
                {% if forum.ownerID == app.user.id or (is_granted('ROLE_ADMIN')) %}
                    <div class="pull-right">
                        <div class="pull-right" data-toggle="tooltip" data-placement="top" title="Delete This Forum">
                            <a style="cursor: pointer; text-decoration: none;" data-toggle="modal" data-target="#delete_QnA_forum">
                                <i class="fa text-danger fa-fw fa-trash"></i>
                            </a>
                        </div>

                        <div class="pull-right" data-toggle="tooltip" data-placement="top" title="Project Settings">
                            <a href="{{ path('zectranet_QnA_settings', {'project_id': forum.id}) }}" style="cursor: pointer; text-decoration: none;">
                                <i class="fa text-primary fa-fw fa-gear"></i>
                            </a>
                        </div>

                        {#<div class="pull-right" data-toggle="tooltip" data-placement="top" title="Project Profile">
                            <a href="{{ path('zectranet_project_profile_page', {'project_id': forum.id}) }}" style="cursor: pointer; text-decoration: none; font-size: 1.3em;">
                                Profile
                            </a>
                        </div>#}
                    </div>
                    {% include 'ZectranetBundle::QnADelete.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 style="padding-bottom: 10px; border-bottom: 1px solid #eee;">
                <span data-target="#QnA_thread_add" data-toggle="modal">
                    <i class="fa fa-plus btn-circle text-muted" style="cursor: pointer;"></i>
                </span>
                Questions
            </h4>
        </div>

        {% if forum.threads | length == 0 %}
            <div class="thread" style="margin: 100px 0 0 50px; font-size: 1.3em; color: #009beb">
                Questions will be displayed here
            </div>
        {% endif %}

        {% for i, thread in forum.threads %}

            <div class="thread">
                <div class="thread-content left-thread">

                    <div class="count-posts text-center {% if thread.posts | length == 0 %} text-muted {% endif %}">
                        {{ thread.posts | length }}
                    </div>

                    <div class="answers text-center {% if thread.posts | length == 0 %} text-muted {% endif %}">
                        answers
                    </div>

                </div>

                <div class="thread-content right-thread">

                    <a href="{{ path('zectranet_show_QnA_thread', {'project_id': forum.id, 'thread_id' : thread.id}) }}" class="right-thread-content thread-title" title="{{ thread.message }}">
                        {{ thread.title }}
                    </a>

                    <div class="right-thread-content thread-keywords">
                        {% for j in 0..keywords[i].keys | length - 1 %}
                            <span style="margin-left: 3px;">{{ keywords[i].keys[j] }}</span>
                        {% endfor %}

                        <div class="pull-right text-muted" style="margin-top: 8px;">
                            asked
                            <a href="{{ path('zectranet_user_page', {'user_id': thread.user.id}) }}" style="font-size: 1.2em;">
                                {{ thread.user.username }}
                            </a>
                            {{ thread.date | date('Y-m-d H:i') }}
                        </div>
                    </div>

                </div>
            </div>

        {% endfor %}

    </div>

    <div class="modal fade" id="QnA_thread_add" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header label-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 align="center" style="color: #f5f5f5;">
                        Create new question
                    </h4>
                </div>
                <form action="{{ path('zectranet_QnA_create_new_question', {'project_id' : forum.id }) }}" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
                                <div class="form-group">
                                    <label class="control-label">Name:</label>
                                    <input type="text" class="form-control" name="title" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Keywords:</label>
                                    <input type="text" class="form-control" name="keywords">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Message:</label>
                                    <textarea style="resize: vertical;" name="message" class="form-control" rows="5" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default btn-submit">Create</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}