{% extends '@Zectranet/index.html.twig' %}

{% block title %} {{ sprint.name }} {% endblock %}

{% block body %}
    <div ng-controller="SprintController" ng-init="getTasks();">
        <div class="row">
            <ol class="breadcrumb" style="margin: 0 -15px;">
                <li>
                    <a href="{{ path('zectranet_show_office', { 'office_id': project.office.id }) }}">{{ project.office.name }}</a>
                </li>
                <li>
                    <a href="{{ path('zectranet_show_project', { 'project_id': project.id }) }}">
                        {{ project.name }}
                    </a>
                </li>
                <li class="active">
                    {{ sprint.name }}
                </li>
            </ol>
        </div>

        <div class="row">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fa fa-repeat fa-2x"></i>
                        <span style="font-size: 25px;">
                            {{ sprint.name }}
                            <span style="color: {{ sprint.status.color }}">
                                {{ ' (' ~ sprint.status.label ~ ')'  }}
                            </span>
                        </span>
                    </div>

                    <div class="col-md-6">
                        <!-- Begin of Office controll buttons -->
                            <div class="pull-right">
                                {% if (project.owner.id == app.user.id) or (is_granted('ROLE_ADMIN')) %}
                                    <div class="pull-right clearfix" data-toggle="tooltip" data-placement="top" title="Delete This Sprint">
                                        <a style="cursor: pointer; text-decoration: none;" data-toggle="modal" data-target="#delete_sprint">
                                            <i class="fa text-danger fa-fw fa-trash fa-2x"></i>
                                        </a>
                                    </div>

                                    <div class="pull-right clearfix" data-toggle="tooltip" data-placement="top" title="Sprint Settings">
                                        <a href="{{ path('zectranet_show_sprint_settings', {'project_id': project.id, 'sprint_id': sprint.id}) }}" style="cursor: pointer; text-decoration: none;">
                                            <i class="fa text-primary fa-fw fa-gear fa-2x"></i>
                                        </a>
                                    </div>
                                {% endif %}

                                {% set enableSS = false %}

                                {% for permission in sprint.Permissions %}
                                    {% if (permission.userid == app.user.id) and (permission.enableStartSprint) %}
                                        {% set enableSS = true %}

                                    {% endif %}
                                {% endfor %}

                                {% if (project.owner.id == app.user.id) or (is_granted('ROLE_ADMIN')) or (enableSS == true) %}
                                    {% if sprint.status.label == 'Open' %}
                                        <div class="pull-right clearfix" data-toggle="tooltip" data-placement="top" title="Start Sprint">
                                            <a href="{{ path('zectranet_sprint_change_state', {'sprint_id': sprint.id, 'state': 2}) }}" style="text-decoration: none;">
                                                <i class="fa fa-fw fa-play-circle fa-2x" style="color: {{ sprint_status[1].color }}"></i>
                                            </a>
                                        </div>
                                    {% elseif sprint.status.label == 'In-Progress' %}
                                        <div class="pull-right clearfix" data-toggle="tooltip" data-placement="top" title="Stop Sprint">
                                            <a href="{{ path('zectranet_sprint_change_state', {'sprint_id': sprint.id, 'state': 3}) }}" style="text-decoration: none;">
                                                <i class="fa fa-fw fa-pause fa-2x" style="color: {{ sprint_status[2].color }}"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        <!-- End of Office controll buttons -->
                    </div>
                </div>
            </div>
        </div>

        {% include '@Zectranet/sprintDelete.html.twig' %}

        <div class="row" ng-cloak>
            <div class="col-xs-12" style="margin-bottom: 15px;">
                <h4 class="pull-right text-muted" style="margin-left: 20px;">
                    Total bugs: [[ totalEstimation.bh + 'h ' + totalEstimation.bm + 'm' ]]
                </h4>
                <h4 class="pull-right text-muted" style="margin-left: 20px;">
                    Total estimation: [[ totalEstimation.h + 'h ' + totalEstimation.m + 'm' ]]
                </h4>
                <h4 class="pull-right text-muted">
                    Total Progress: [[ totalProgress + '%' ]]
                </h4>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <!-- Begin of Tasks -->
            <div class="panel panel-default list-group">
                <div class="list-group-item active">
                    <i class="fa fa-tasks"></i>
                    <span>Tasks</span>
                </div>
                <div cg-busy="promise" class="panel-body">

                    <!-- Begin of Task Nav Tabs -->
                    <ul id="task-view-tabs" class="nav nav-tabs" role="tablist">
                        <li data-toggle="tooltip" data-placement="top" title="Table view" role="presentation" class="active">
                            <a data-toggle="tab" id="task-view-table" class="btn" href="#table-view" aria-controls="table-view" role="tab" aria-expanded="true">
                                <i class="fa fa-table fa-2x"></i>
                            </a>
                        </li>

                        <li data-toggle="tooltip" data-placement="top" title="Agile view" role="presentation">
                            <a data-toggle="tab" id="task-view-agile"  class="btn" href="#agile-view" aria-controls="agile-view" role="tab" aria-expanded="false">
                                <i class="fa fa-th fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- End of Task Nav Tabs -->

                    <div id="tasks-tab-content" class="tab-content">

                        <!-- Begin of Task Table View -->
                        <div id="table-view" class="tab-pane fade in active" aria-labelledby="task-view-table" role="tabpanel">
                            <ng-include src="{{ '\'' ~ asset('bundles/zectranet/templates/task-table-sprint.html') ~ '\'' }}"></ng-include>
                        </div>
                        <!-- End of Task Table View -->

                        <!-- Begin of Task Agile View -->
                        <div id="agile-view" class="tab-pane fade" aria-labelledby="task-view-agile" role="tabpanel">
                            <ng-include src="{{ '\'' ~ asset('bundles/zectranet/templates/task-agile.html') ~ '\'' }}"></ng-include>
                        </div>
                        <!-- End of Task Agile View -->
                    </div>
                </div>
            </div>
            <!-- End of Tasks -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        TEMPPARAMS.sprintID = {{ sprint.id }};
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $('#task-view-tabs a').click(function (e) {
            if ($(this).id != $('a#add_new_task_btn').id) {
                $(this).tab('show');
            }
            e.preventDefault();
        });
    </script>
{% endblock %}