{% extends '@Zectranet/index.html.twig' %}

{% block title %}Sprint page{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb" style="margin: 0 -15px;">
            <li>
                <a href="{{ path('zectranet_user_home') }}">Summary</a>
            </li>
            <li>
                <a href="{{ path('zectranet_show_office', { 'office_id': office.id }) }}">
                    {{ office.name }}
                </a>
            </li>
            <li class="active">
                {{ sprint.name }}
            </li>
        </ol>

        <div class="page-header">
            <div class="row">
                <div class="col-md-6">
                    <i class="fa fa-repeat fa-2x"></i>
                <span style="font-size: 25px;">
                    {{ sprint.name }}
                    <span style="color: {{ sprint.status.color }}">
                        {{ ' (' ~ sprint.status.label ~ ')'  }}
                    </span>
                </span>
                </div>

                <div class="col-md-6">
                    <!-- Begin of Office controll buttons -->
                    {% if (office.owner.id == app.user.id) or (is_granted('ROLE_ADMIN')) %}
                        <div class="pull-right">
                            <div class="pull-right clearfix" data-toggle="tooltip" data-placement="top" title="Delete This Sprint">
                                <a style="cursor: pointer; text-decoration: none;" data-toggle="modal" data-target="#delete_sprint">
                                    <i class="fa text-danger fa-fw fa-trash fa-2x"></i>
                                </a>
                            </div>

                            <div class="pull-right clearfix" data-toggle="tooltip" data-placement="top" title="Sprint Settings">
                                <a style="cursor: pointer; text-decoration: none;">
                                    <i class="fa text-primary fa-fw fa-gear fa-2x"></i>
                                </a>
                            </div>

                            {% if sprint.status.label == 'Open' %}
                                <div class="pull-right clearfix" data-toggle="tooltip" data-placement="top" title="Start Sprint">
                                    <a style="cursor: pointer; text-decoration: none;">
                                        <i class="fa fa-fw fa-play-circle fa-2x" style="color: {{ sprint_status[1].color }}"></i>
                                    </a>
                                </div>
                            {% elseif sprint.status.label == 'In-Progress' %}
                                <div class="pull-right clearfix" data-toggle="tooltip" data-placement="top" title="Stop Sprint">
                                    <a style="cursor: pointer; text-decoration: none;">
                                        <i class="fa fa-fw fa-pause fa-2x" style="color: {{ sprint_status[2].color }}"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <!-- End of Office controll buttons -->
                </div>
            </div>
        </div>

        {% include '@Zectranet/sprintDelete.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock %}