{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ task.name }}{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="page-header">
            <i class="fa fa-user fa-2x"></i>
            {{ task.name }}
        </div>

        <div class="row">
            <!--Begin of Main Task Info-->
            <div class="col-md-6">
                <div class="page-header">
                    <span style="font-size: 20px;">Task Info</span>
                </div>

                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted  form-control-static">Name:</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" style="border: none;" class="form-control" value="{{ task.name }}">
                        </div>

                    </div>
                </div>

                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted form-control-static">Type:</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="input-group">
                            <select class="form-control" style="border: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3" selected="selected">3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of Main Task Info-->

            <!--Begin of Task Details-->
            <div class="col-md-6">

                <div class="page-header">
                    <span style="font-size: 20px;">Task Details</span>
                </div>

                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted form-control-static">Assigned:</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="input-group">
                            {% if task.project.users | length > 0 %}
                                <select class="form-control" style="border: none;">
                                    {% for user in task.project.users %}
                                        <option value="{{ user.id }}" {% if task.assigned == user %}selected="selected"{% endif %}>{{ user.name }}</option>
                                    {% endfor %}
                                    <option {% if task.assigned == null %}selected="selected"{% endif %}>Not Assigned</option>
                                </select>
                            {% else %}
                                <p class="form-control-static">Not Assigned</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted  form-control-static">Progress:</label>
                        </div>
                    </div>

                    <div class="col-md-8" ng-init="progress = '{{ task.progress }}'">
                        <div class="progress progress-striped active" style="position: relative;">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="[[progress]]" aria-valuemin="0" aria-valuemax="100" style="width: [[progress]]%;">
                                <span class="sr-only">[[progress]]% Complete (success)</span>
                                <div class="text-muted text-center" align="center" style="color: black; font-weight: bold; position: absolute; left: 35%;">[[progress]]% Complete</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
            </div>
            <!--End of Task Details-->

        </div>

        <!-- Begin of Desciption Section -->
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h4>Description</h4>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" style="border: none; height: 150px; resize: none;">{{ task.description }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}