{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ task.name }}{% endblock %}

{% block body %}
    <div ng-cloak>
        <div class="row">
            <ol class="breadcrumb" style="margin: 0 -15px;">
                <li>
                    <a href="{{ path('zectranet_user_home') }}">Summary</a>
                </li>
                <li>
                    {% set projectBreadcrums = (task.project.parent) ? task.project.parent : task.project %}
                    <a href="{{ path('zectranet_show_project', { 'project_id': projectBreadcrums.id }) }}">
                        {{ projectBreadcrums.name }}
                    </a>
                </li>
                <li class="active">
                    {{ task.name }}
                </li>
            </ol>
        </div>

        <div class="row" style="margin-top: 20px;">
            <!--Begin of Main Task Info-->
            <form class="col-md-6" style="border-bottom: 1px solid #eee;" action="{{ path('zectranet_task_edit_main_info', { 'task_id': task.id }) }}" method="post">
                <div class="page-header" style="margin-top: 0;border-bottom: 0px;">
                    <span style="font-size: 20px;">Task Info</span>
                </div>

                <!-- Begin of Task NAME Edit -->
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted form-control-static">Name:</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" name="name" style="border: none;" class="form-control" value="{{ task.name }}">
                        </div>

                    </div>
                </div>
                <!-- End of Task NAME Edit -->

                <!-- Begin Of Task OWNER Details -->
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted form-control-static">Owner:</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="input-group">
                            <a href="{{ path('zectranet_user_page', {'user_id': task.ownerid }) }}" class="btn form-control-static text-info">
                                {{ task.owner.name ~ ' ' ~ task.owner.surname ~ ' (' ~ task.owner.username ~ ')'}}
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Of Task OWNER Details -->

                <!-- Begin of Task TYPE Select -->
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted form-control-static">Type:</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="input-group">
                            <select class="form-control" name="type" style="border: none;">
                                {% for type in task_types %}
                                    <option style="color: {{ type.color }}" value="{{ type.id }}"
                                            {% if type.id == task.type.id %}
                                                selected="selected"
                                            {% endif %}>
                                        {{ type.label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- End of Task TYPE Select -->

                <!-- Begin of Task PRIORITY Select -->
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted form-control-static">Priority:</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="input-group">
                            <select class="form-control" name="priority" style="border: none;">
                                {% for priority in task_priority %}
                                    <option style="color: {{ priority.color }}" value="{{ priority.id }}"
                                            {% if priority.id == task.priority.id %}
                                                selected="selected"
                                            {% endif %}>
                                        {{ priority.label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- End of Task PRIORITY Select -->

                <!-- Begin of Task STATUS Select -->
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted form-control-static">Status:</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="input-group">
                            <select class="form-control" name="status" style="border: none;">
                                {% for status in task_statuses %}
                                    <option style="color: {{ status.color }}" value="{{ status.id }}"
                                            {% if status.id == task.status.id %}
                                                selected="selected"
                                            {% endif %}>
                                        {{ status.label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- End of Task STATUS Select -->

                <!-- Begin of Task PROJECT/STORY Select -->
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted form-control-static">Project/Epic Story:</label>
                        </div>
                    </div>

                    {% set project = (task.project.parent) ? task.project.parent : task.project %}
                    <div class="col-md-9">
                        <div class="input-group">
                            <select class="form-control" name="project" style="border: none;">
                                <optgroup style="margin: 0; padding: 0;" label="Project">
                                <option {% if project.id == task.project.id %}selected="selected"{% endif %} value="{{ project.id }}">{{ project.name }}</option>
                                </optgroup>
                                {% if project.epicStories | length > 0 %}
                                    <optgroup style="margin: 0" label="Epic Stories">
                                {% endif %}
                                {% for epicStory in project.epicStories %}
                                    <option value="{{ epicStory.id }}"
                                            {% if epicStory.id == task.project.id %}
                                                selected="selected"
                                            {% endif %}>
                                        {{ epicStory.name }}
                                    </option>
                                {% endfor %}
                                {% if project.epicStories | length > 0 %}
                                    </optgroup>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- End of Task PROJECT/STORY Select -->

                <!-- SAVE BUTTON -->
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-default btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SAVE BUTTON -->

            </form>
            <!--End of Main Task Info-->

            <!--Begin of Task Details-->
            <form class="col-md-6" action="{{ path('zectranet_task_edit_detail_info', { 'task_id': task.id }) }}" method="post" style="border-bottom: 1px solid #eee;">

                <div class="page-header" style="margin-top: 0;border: 0px;">
                    <span style="font-size: 20px;">Task Details</span>
                </div>

                <!-- Begin Of Task ASSIGNED Select -->
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted form-control-static">Assigned:</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="input-group">
                            <select class="form-control" name="assigned" style="border: none;">
                                {% set usersForAssign = [] %}
                                {% for user in task.project.users if user not in usersForAssign %}
                                    {% set usersForAssign = usersForAssign | merge([user]) %}
                                {% endfor %}
                                {% set taskProject = (task.project.parent) ? task.project.parent : task.project %}
                                {% for office in taskProject.offices %}
                                    {% for user in office.users if user not in usersForAssign %}
                                        {% set usersForAssign = usersForAssign | merge([user]) %}
                                    {% endfor %}
                                {% endfor %}

                                {% for user in usersForAssign %}
                                    {% if user.id != task.owner.id %}
                                        <option value="{{ user.id }}" {% if task.assigned == user %}selected="selected"{% endif %}>{{ user.name }}</option>
                                    {% endif %}
                                {% endfor %}
                                <option value="{{ task.owner.id }}" {% if task.assigned == task.owner %}selected="selected"{% endif %}>{{ task.owner.name }}</option>
                                <option {% if task.assigned == null %}selected="selected"{% endif %}>Not Assigned</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- End Of Task ASSIGNED Select -->

                <!-- Begin Of Task PROGRESS Selection -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted  form-control-static">Progress:</label>
                        </div>
                    </div>
                    <div ng-init="selected = '{{ task.progress }}'">
                        <div class="col-md-6">
                            <div style="padding: 6px 0;">
                                <div class="form-group progress progress-striped active" style="position: relative;">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="[[selected]]" aria-valuemin="0" aria-valuemax="100" style="width: [[selected]]%;">
                                        <div class="text-muted text-center" align="center" style="color: black; font-weight: bold; position: absolute; left: 35%; opacity: 0.6">[[selected]]% Complete</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <select class="form-control" name="progress" ng-model="selected" style="border: none;">
                                    <option value="0">0%</option>
                                    <option value="10">10%</option>
                                    <option value="20">20%</option>
                                    <option value="30">30%</option>
                                    <option value="40">40%</option>
                                    <option value="50">50%</option>
                                    <option value="60">60%</option>
                                    <option value="70">70%</option>
                                    <option value="80">80%</option>
                                    <option value="90">90%</option>
                                    <option value="100">100%</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Of Task PROGRESS Selection -->

                <!-- Begin Of Task ESTIMATED HOURS Select -->
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted form-control-static">Estimated Hours:</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="input-group">
                            <select class="form-control" name="estimated_hours" style="border: none;">
                                {% for i in 0..48 %}
                                    <option value="{{ i }}" {% if task.estimatedHours == i %}selected="selected"{% endif %}>{{ i }} h</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- End Of Task ESTIMATED HOURS Select -->

                <!-- Begin Of Task ESTIMATED MINUTES Select -->
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted form-control-static">Estimated Minutes:</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="input-group">
                            <select class="form-control" name="estimated_minutes" style="border: none;">
                                <option value="0" {% if task.estimatedMinutes == 0 %}selected="selected"{% endif %}>0 m</option>
                                <option value="10" {% if task.estimatedMinutes == 10 %}selected="selected"{% endif %}>10 m</option>
                                <option value="20" {% if task.estimatedMinutes == 20 %}selected="selected"{% endif %}>20 m</option>
                                <option value="30" {% if task.estimatedMinutes == 30 %}selected="selected"{% endif %}>30 m</option>
                                <option value="40" {% if task.estimatedMinutes == 40 %}selected="selected"{% endif %}>40 m</option>
                                <option value="50" {% if task.estimatedMinutes == 50 %}selected="selected"{% endif %}>50 m</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- End Of Task ESTIMATED MINUTES Select -->

                <!-- Begin Of Task START DATE Select -->
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted form-control-static">Start Date:</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="input-group">
                            <input class="form-control" name="start_date" style="border: none;" type="date" value="{{ task.startdate | date('Y-m-d') }}">
                        </div>
                    </div>
                </div>
                <!-- End Of Task START DATE Select -->

                <!-- Begin Of Task END DATE Select -->
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="text-muted form-control-static">End Date:</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="input-group">
                            <input class="form-control" name="end_date" style="border: none;" type="date" value="{{ task.enddate | date('Y-m-d') }}">
                        </div>
                    </div>
                </div>
                <!-- End Of Task END DATE Select -->

                <!-- SAVE BUTTON -->
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header" style="margin-top: 0;border: 0px;"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 15px;">
                            <form class="form-group">
                                <button type="submit" class="btn btn-default btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- SAVE BUTTON -->

            </form>
            <!--End of Task Details-->
        </div>

        <!-- Begin of Desciption Section -->
        <div class="row">
            <div class="col-md-12">
                <div class="page-header" style="border: 0px;">
                    <h4>Description</h4>
                </div>

                <div class="row">
                    <form class="col-md-10" action="{{ path('zectranet_task_edit_descritpion', { 'task_id': task.id }) }}" method="post">
                        <div class="form-group">
                            <textarea class="form-control" name="description" style="border: none; height: 85px; resize: none;">{{ task.description }}</textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End of Desciption Section -->

        <!-- Begin of Task Nav Tabs -->
        <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li data-toggle="tooltip" data-placement="top" title="Logs" role="presentation" class="active">
                <a data-toggle="tab" id="task-logs-tab" class="btn" href="#task-logs" aria-controls="task-logs" role="tab" aria-expanded="true">
                    Logs
                </a>
            </li>
        </ul>
        <!-- End of Task Nav Tabs -->

        <div id="tasks-tab-content" class="tab-content">
            <div id="task-logs" class="tab-pane fade in active" style="max-height: 500px; overflow-y: auto;" aria-labelledby="task-logs-tab" role="tabpanel">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-1">#</th>
                            <th class="col-md-2">User</th>
                            <th class="col-md-1">Type</th>
                            <th class="col-md-3">Value Before</th>
                            <th class="col-md-3">Value After</th>
                            <th class="col-md-2">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i, log in task.logs %}
                            <tr>
                                <td>{{ i + 1 }}</td>
                                <td>{{ log.user.name ~ ' ' ~ log.user.surname ~ ' (' ~ log.user.username ~ ')' }}</td>
                                <td>{{ log.type }}</td>
                                <td>{{ log.valueBefore }}</td>
                                <td>{{ log.valueAfter }}</td>
                                <td>{{ log.date | date('Y-m-d') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}