{% extends '@Zectranet/index.html.twig' %}

{% set sprint = (task.parentId) ? task.parent.sprint : task.sprint %}

{% set idInArray = -1 %}
{% if task.parent != null %}
    {% for i, item in task.parent.subtasks if item.id == task.id %}
        {% set idInArray = i + 1 %}
    {% endfor %}
{% endif %}

{% set id = (task.parent) ? '[' ~ task.parent.id ~ '.' ~ idInArray ~ '] ' : '[' ~ task.id ~ '] '  %}
{% block title %}{{ id ~ task.name }}{% endblock %}

{% block body %}
    <div ng-cloak>
        <!-- Begin of Task Info -->
        <div ng-controller="SingleTaskController" ng-init="getSingleTask();">
            <!-- Begin of Breadcrumbs -->
            <div class="row">
                <ol class="breadcrumb" style="margin: 0 -30px; border-radius: 0 !important; padding: 12px 50px; background-color: #fbfbfb; ">
                    <li>
                        <a href="{{ path('zectranet_show_office', { 'office_id': task.project.office.id }) }}">{{ task.project.office.name }}</a>
                    </li>
                    <li>
                        {% set projectBreadcrums = (task.project.parent) ? task.project.parent : task.project %}
                        <a href="{{ path('zectranet_show_project', { 'project_id': projectBreadcrums.id }) }}">
                            {{ projectBreadcrums.name }}
                        </a>
                    </li>
                    <li class="active">
                        {{ task.name }}
                    </li>
                </ol>
            </div>
            <!-- End of Breadcrumbs -->

            <!-- Begin of Task Info Section -->
            <div class="row" style="margin-top: 20px;">
                <!--Begin of Main Task Info-->
                <form name="formTaskEdit" cg-busy="taskPromise" class="col-md-6">
                    <div cg-busy="mainInfoPromise">
                        <div class="page-header" style="margin-top: 0; border-bottom: 0;">
                            <span style="font-size: 20px;  color: #337ab7;">Task Info</span>
                        </div>

                        <!-- Begin of Task NAME Edit -->
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted form-control-static" style="  color: #777;font-weight: 300;">Name:</label>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="input-group" style="width: 100%;">
                                    <input type="text" class="form-control btn-group-justified" style="border: none;font-weight: bold;" name="name" ng-init="taskInfoEdit.name = '{{ task.name }}'" ng-model="taskInfoEdit.name" ng-minlength="5" ng-maxlength="100" pattern="[A-Za-z0-9 ]{1,}" required>

                                    <div ng-messages="formTaskEdit.name.$error" style="color: red;">
                                        <span ng-message="required">Please, enter name</span>
                                        <span ng-message="pattern">Please match the requested format: "A-Z,a-z,0-9, "</span>
                                        <span ng-message="minlength">Min length of name is 5 characters</span>
                                        <span ng-message="maxlength">Max length of name is 100 characters</span>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- End of Task NAME Edit -->

                        <!-- Begin of Task TYPE Select -->
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted form-control-static" style="  color: #777;font-weight: 300;">Type:</label>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="input-group" style="width: 100%;">
                                    {% if sprint and sprint.status.id > 1 %}
                                        <a style="font-weight: bold;" href="#" class="btn form-control-static text-info">
                                            {{ task.type.label }}
                                        </a>

                                    {% else %}
                                        <select class="form-control" name="type" ng-model="taskInfoEdit.type.id" style="border: none;font-weight: bold;">

                                            {% for type in task_types %}
                                                <option style="color: {{ type.color }}" value="{{ type.id }}"
                                                        {% if type.id == task.type.id %}
                                                    selected="selected"
                                                        {% endif %}>
                                                    {{ type.label }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- End of Task TYPE Select -->

                        <!-- Begin of Task PRIORITY Select -->
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted form-control-static" style="  color: #777;font-weight: 300;">Priority:</label>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="input-group" style="width: 100%;">
                                    <select class="form-control" name="priority" ng-model="taskInfoEdit.priority.id" style="border: none;font-weight: bold;">
                                        {% for priority in task_priority %}
                                            <option style="color: {{ priority.color }}" value="{{ priority.id }}"
                                                    {% if priority.id == task.priority.id %}
                                                selected="selected"
                                                    {% endif %}>
                                                {{ priority.label }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- End of Task PRIORITY Select -->

                        <!-- Begin of Task PROJECT/STORY Select -->
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted form-control-static" style="  color: #777;font-weight: 300;">Project/Epic Story:</label>
                                </div>
                            </div>

                            {% set project = (task.project.parent) ? task.project.parent : task.project %}
                            <div class="col-md-9">
                                <div class="input-group" style="width: 100%;">
                                    <select class="form-control" name="project" ng-model="taskInfoEdit.projectid" style="border: none;font-weight: bold;">
                                        <optgroup style="margin: 0; padding: 0;" label="Project">
                                            <option {% if project.id == task.project.id %}selected="selected"{% endif %} value="{{ project.id }}">{{ project.name }}</option>
                                        </optgroup>
                                        {% if project.epicStories | length > 0 %}
                                        <optgroup style="margin: 0" label="Epic Stories">
                                            {% endif %}
                                            {% for epicStory in project.epicStories %}
                                                <option value="{{ epicStory.id }}"
                                                        {% if epicStory.id == task.project.id %}
                                                    selected="selected"
                                                        {% endif %}>
                                                    {{ epicStory.name }}
                                                </option>
                                            {% endfor %}
                                            {% if project.epicStories | length > 0 %}
                                        </optgroup>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- End of Task PROJECT/STORY Select -->

                        <!-- Begin Of Task START DATE Select -->
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted form-control-static" style="  color: #777;font-weight: 300;">Start Date:</label>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="input-group" style="width: 100%;">
                                    <input class="form-control" style="border: none;font-weight: bold;" ng-model="taskInfoEdit.startDate" type="date">
                                </div>
                            </div>
                        </div>
                        <!-- End Of Task START DATE Select -->

                        <!-- Begin Of Task END DATE Select -->
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted form-control-static" style="  color: #777;font-weight: 300;">End Date:</label>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="input-group" style="width: 100%;">
                                    <input class="form-control" style="border: none;font-weight: bold;" ng-model="taskInfoEdit.endDate" type="date">
                                </div>
                            </div>
                        </div>
                        <!-- End Of Task END DATE Select -->

                        <!-- Begin Of Task Parent Details -->
                        {% set parent = task.parent %}

                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted form-control-static" style="color: #777;font-weight: 300;">
                                        Parent task:
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="input-group">
                                    {% if parent %}
                                        <a style="font-weight: bold;" href="{{ path('zectranet_task_show', {'task_id': parent.id}) }}" class="btn form-control-static text-info">
                                            {{ parent.name }}
                                        </a>
                                    {% else %}
                                        <a style="font-weight: bold;" href="#" class="btn form-control-static text-info">
                                            none
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- End Of Task Parent Details -->

                    </div>
                </form>
                <!--End of Main Task Info-->

                <!--Begin of Task Details-->
                <form cg-busy="taskPromise" class="col-md-6">
                    <div cg-busy="detailsInfoPromise">
                        <div class="page-header" style="margin-top: 0; border: none;">
                            <span style="font-size: 20px; color: #337ab7;">Task Details</span>
                        </div>

                        <!-- Begin Of Task OWNER Details -->
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted form-control-static" style="  color: #777;font-weight: 300;">Owner:</label>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="input-group">
                                    <a style="font-weight: bold;" href="{{ path('zectranet_user_page', {'user_id': task.ownerid }) }}" class="btn form-control-static text-info">
                                        {{ task.owner.name ~ ' ' ~ task.owner.surname ~ ' (' ~ task.owner.username ~ ')'}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Of Task OWNER Details -->

                        <!-- Begin Of Task ASSIGNED Select -->
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted form-control-static" style="  color: #777;font-weight: 300;">Assigned:</label>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="input-group" style="width: 100%;">
                                    <select class="form-control" name="assigned" ng-model="taskInfoEdit.assigned" style="border: none;font-weight: bold;">
                                        {% set usersForAssign = [] %}
                                        {% for user in task.project.users if user not in usersForAssign %}
                                            {% set usersForAssign = usersForAssign | merge([user]) %}
                                        {% endfor %}
                                        {% set taskProject = (task.project.parent) ? task.project.parent : task.project %}

                                        {% for user in usersForAssign %}
                                            {% if user.id != task.owner.id %}
                                                <option value="{{ user.id }}">
                                                    {{ user.name ~ ' ' ~ user.surname ~ ' ' ~ user.username }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                        <option value="{{ task.owner.id }}">
                                            {{ task.owner.name ~ ' ' ~ task.owner.surname ~ ' ' ~ task.owner.username }}
                                        </option>
                                        <option value="Not Assigned">Not Assigned</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- End Of Task ASSIGNED Select -->

                        <!-- Begin Of Task PROGRESS Selection -->
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted  form-control-static" style="  color: #777;font-weight: 300;">Progress:</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style="padding: 6px 0;">
                                    <div class="form-group progress progress-striped active" style="position: relative;">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="[[taskInfoEdit.progress]]" aria-valuemin="0" aria-valuemax="100" style="width: [[taskInfoEdit.progress]]%;">
                                            <div class="text-muted text-center" align="center" style="color: black; font-weight: bold; position: absolute; left: 35%; opacity: 0.6">[[taskInfoEdit.progress]]% Complete</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group" style="width: 100%;">
                                    <select class="form-control" name="progress" ng-model="taskInfoEdit.progress" style="border: none;font-weight: bold;">
                                        <option value="0">0%</option>
                                        <option value="10">10%</option>
                                        <option value="20">20%</option>
                                        <option value="30">30%</option>
                                        <option value="40">40%</option>
                                        <option value="50">50%</option>
                                        <option value="60">60%</option>
                                        <option value="70">70%</option>
                                        <option value="80">80%</option>
                                        <option value="90">90%</option>
                                        <option value="100">100%</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- End Of Task PROGRESS Selection -->

                        <!-- Begin of Task STATUS Select -->
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted form-control-static" style="  color: #777;font-weight: 300;">Status:</label>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="input-group" style="width: 100%;">
                                    <select class="form-control" name="status" ng-model="taskInfoEdit.status.id" style="border: none;font-weight: bold;">
                                        {% for status in task_statuses %}
                                            <option style="color: {{ status.color }}" value="{{ status.id }}"
                                                    {% if status.id == task.status.id %}
                                                selected="selected"
                                                    {% endif %}>
                                                {{ status.label }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- End of Task STATUS Select -->

                        <!-- Begin Of Task ESTIMATED HOURS Select -->
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted form-control-static" style="  color: #777;font-weight: 300;">Estimated Hours:</label>
                                </div>
                            </div>

                            {% if sprint and sprint.status.id > 1 %}
                                <div class="col-md-9">
                                    <a style="font-weight: bold;" href="#" class="btn form-control-static text-info">
                                        {{ task.estimatedHours ~ 'h' }}
                                    </a>
                                </div>

                            {% else %}
                                <div class="col-md-9">
                                    <div class="input-group" style="width: 100%;">
                                        <select class="form-control" name="estimated_hours" ng-model="taskInfoEdit.estimatedHours" style="border: none;font-weight: bold;">
                                            {% for i in 0..48 %}
                                                <option value="{{ i }}" {% if task.estimatedHours == i %}selected="selected"{% endif %}>{{ i }} h</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                        <!-- End Of Task ESTIMATED HOURS Select -->

                        <!-- Begin Of Task ESTIMATED MINUTES Select -->
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted form-control-static" style="  color: #777;font-weight: 300;">Estimated Minutes:</label>
                                </div>
                            </div>

                            {% if sprint and sprint.status.id > 1 %}
                                <div class="col-md-9">
                                    <a style="font-weight: bold;" href="#" class="btn form-control-static text-info">
                                        {{ task.estimatedMinutes ~ 'm' }}
                                    </a>
                                </div>

                            {% else %}
                                <div class="col-md-9">
                                    <div class="input-group" style="width: 100%;">
                                        <select class="form-control" name="estimated_minutes" ng-model="taskInfoEdit.estimatedMinutes" style="border: none;font-weight: bold;">
                                            <option value="0" {% if task.estimatedMinutes == 0 %}selected="selected"{% endif %}>0 m</option>
                                            <option value="10" {% if task.estimatedMinutes == 10 %}selected="selected"{% endif %}>10 m</option>
                                            <option value="20" {% if task.estimatedMinutes == 20 %}selected="selected"{% endif %}>20 m</option>
                                            <option value="30" {% if task.estimatedMinutes == 30 %}selected="selected"{% endif %}>30 m</option>
                                            <option value="40" {% if task.estimatedMinutes == 40 %}selected="selected"{% endif %}>40 m</option>
                                            <option value="50" {% if task.estimatedMinutes == 50 %}selected="selected"{% endif %}>50 m</option>
                                        </select>
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                        <!-- End Of Task ESTIMATED MINUTES Select -->

                        <!-- Begin Of Task SPRINT Details -->

                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted form-control-static" style="color: #777;font-weight: 300;">
                                        Sprint:
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="input-group">
                                    {% if sprint %}
                                        <a style="font-weight: bold;" href="{{ path('zectranet_show_sprint', {'sprint_id': sprint.id, 'project_id': sprint.projectid }) }}" class="btn form-control-static text-info">
                                            {{ sprint.name }}
                                        </a>
                                    {% else %}
                                        <a style="font-weight: bold;" href="#" class="btn form-control-static text-info">
                                            none
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- End Of Task SPRINT Details -->

                        <!-- Begin Of Task Version Select -->
                        {% set versions = (task.project.parent) ? task.project.parent.versions : task.project.versions %}
                        {% if versions | length > 0 %}
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label class="text-muted form-control-static" style="  color: #777;font-weight: 300;">Project Version:</label>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="input-group" style="width: 100%;">
                                    <select class="form-control" name="version" ng-model="taskInfoEdit.versionid" style="border: none;font-weight: bold;">
                                        {% for version in versions %}
                                            <option value="{{ version.id }}">{{ version.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- End Of Task Version Select -->
                        {% endif %}

                    </div>
                </form>
                <!--End of Task Details-->
            </div>
            <!-- End of Task Info Section ---->

            <hr/>

            <!-- SAVE BUTTON -->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="button" ng-disabled="formTaskEdit.$invalid" ng-click="saveSingleTaskInfo(taskInfoEdit);" class="btn btn-default btn-primary">
                            Save
                        </button>
                    </div>
                </div>
            </div>
            <!-- SAVE BUTTON -->

            <!-- Begin of Desciption Section -->
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header" style="border: 0;">
                        <h4 style="  color: #337ab7;">Description</h4>
                    </div>

                    <div class="row">
                        <form name="formDescriptionEdit" class="col-md-12" action="{{ path('zectranet_task_edit_descritpion', { 'task_id': task.id }) }}" method="post">
                            <div class="form-group">
                                <textarea class="form-control" style="border: none; height: 170px; resize: vertical; font-weight: bold;" name="description" ng-init="description = '{{ task.description }}'" ng-model="description" ng-minlength="5" ng-maxlength="5000" required></textarea>

                                <div ng-messages="formDescriptionEdit.description.$error" style="color: red;">
                                    <span ng-message="required">Please, enter description</span>
                                    <span ng-message="minlength">Min length of description is 5 characters</span>
                                    <span ng-message="maxlength">Max length of description is 5000 characters</span>
                                </div>

                            </div>
                            <div class="form-group">
                                <button ng-disabled="formDescriptionEdit.$invalid" type="submit" class="btn btn-default btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End of Desciption Section -->

            <!-- Begin of Sub-Task Section -->
            {% if task.subtasks|length > 0 %}
                <div class="row" style="  margin-bottom: 50px;">
                    <div class="col-md-12">
                        <div class="page-header" style="border: 0;">
                            <h4 style="color: #337ab7; margin-bottom: 0;"> Sub-Tasks </h4>
                        </div>
                        <table>
                            <tbody>
                            {% for i,subtask in task.subtasks %}
                                <tr>
                                    <td style="margin-bottom: 10px;">
                                        {{ i + 1 }}.
                                    </td>

                                    <td class="col-xs-6">
                                        <a style="word-wrap: break-word;" href="{{ path('zectranet_task_show', {'task_id': subtask.id }) }}"  >{{ subtask.name }}</a>
                                    </td>

                                    <td class="col-xs-2">
                                        {% if subtask.status.label == 'story'  %}
                                            <span style="color: {{  subtask.status.color }} ">{{ subtask.status.label }}</span>
                                        {% elseif subtask.status.label == 'todo' %}
                                            <span style="color:{{  subtask.status.color }} ">{{ subtask.status.label }}</span>
                                        {% elseif subtask.status.label == 'in-progress' %}
                                            <span style="color: {{  subtask.status.color }} ">{{ subtask.status.label }}</span>
                                        {% elseif subtask.status.label == 'done' %}
                                            <span style="color: {{  subtask.status.color }} ">{{ subtask.status.label }}</span>
                                        {% endif %}
                                    </td>

                                    <td class="col-xs-4" style="  font-weight: bold;">
                                        {% if subtask.assigned == null  %}
                                            Not Assigned
                                        {% else %}
                                            {{ subtask.assigned.name ~ ' ' ~ subtask.assigned.surname ~ ' (' ~ subtask.assigned.username ~ ')' }}
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            <!-- End of Sub-Task Section -->
        </div>
        <!-- End of Task Info ---->

        <!-- Begin of Task Nav Tabs -->
        <div ng-controller="DocumentsController">
            <div ng-controller="ChatController">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="active" data-placement="top" title="Comments">
                        <a id="coments-tab" data-toggle="tab" href="#coments">Comments</a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Logs" class="">
                        <a data-toggle="tab" id="task-logs-tab" class="btn" href="#task-logs" aria-controls="task-logs" role="tab" aria-expanded="true">
                            Logs
                        </a>
                    </li>
                </ul>
                <!-- End of Task Nav Tabs -->

                <div id="tasks-tab-content" class="tab-content">
                    <div id="task-logs" class="tab-pane fade" style="max-height: 500px; min-height: 100px; overflow-y: auto;" scroll-glue>
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-md-1">#</th>
                                <th class="col-md-2">User</th>
                                <th class="col-md-1">Type</th>
                                <th class="col-md-3">Value Before</th>
                                <th class="col-md-3">Value After</th>
                                <th class="col-md-2">Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i, log in task.logs %}
                                <tr>
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ log.user.name ~ ' ' ~ log.user.surname ~ ' (' ~ log.user.username ~ ')' }}</td>
                                    <td>{{ log.type }}</td>
                                    <td>{{ log.valueBefore }}</td>
                                    <td>{{ log.valueAfter }}</td>
                                    <td>
                                        {{ log.date | date('Y-m-d') }}<br>
                                        {{ log.date | date('H:i') }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div id="coments"  class="tab-pane fade in active" ng-init="getPosts(0, 100)">
                        <div ng-style="{'height': (posts.length > 0) ? '500px' : '100px'}" style="overflow-y: auto;height: 500px; " id="posts-panel" >
                            <div class="coments" ng-repeat="post in posts"  >
                                <p style="margin-top: 25px;" ng-init="avatar = generateAsset(urlAsset, 'documents/' + post.user.avatar)">
                                    <a ng-init="Href = userHref(post.user.id)" ng-href="[[Href]]" style="display: inline-block; text-decoration: none;">
                                        <img style="width: 50px;height: 50px; object-fit: cover;" ng-src="[[avatar]]" alt="User Avatar" class="img-circle"/>
                                    </a>
                                    <span style="vertical-align: top;font-weight: 300;  color: #A9A9A9;" ng-if="post.edited == null">
                                        <strong style="vertical-align: top; color: #337ab7;">
                                            [[post.user.name]]
                                        </strong>
                                        added a comment - [[ post.posted ]]
                                    </span>
                                    <span style="vertical-align: top;font-weight: 300;  color: #A9A9A9;" ng-if="post.edited != null">
                                        <strong style="vertical-align: top; color: #337ab7;">
                                            [[post.user.name]]
                                        </strong>
                                        edited a comment - [[ post.edited ]]
                                    </span>
                                </p>
                                <p style="margin: -10px 0 0 83px; white-space: pre-wrap;" ng-bind-html="post.message"></p>
                                <hr>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <form class="input-group input-group-lg">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" style="height: 65px;" data-placement="top" id="add_dialog_btn"  data-toggle="modal" data-target="#add_dialog">
                                        <i class="fa fa-file"></i>
                                    </button>
                                </span>
                                <textarea id="textarea-post" name="message" class="form-control" rows="3" style="resize: vertical;font-size: 11px; height: 65px;"  ng-keyup="pressEnter($event);" ng-model="message"></textarea>
                                    <span class="input-group-btn" ng-if="editPostButtonVisible == false">
                                        <button class="btn btn-primary" name="subscribe" type="button" style="height: 65px; font-size:15px;" ng-click="SendPost(message)">
                                            <span>Post</span>
                                        </button>
                                    </span>
                                    <span class="input-group-btn" ng-if="editPostButtonVisible == true">
                                        <button  class="btn btn-primary" name="subscribe" type="button" style="height: 65px; font-size:15px;" ng-click="EditPost(message)">
                                            <span>Edit</span>
                                        </button>
                                    </span>
                            </form>
                            <div id="slide-down-menu-screenshots" cg-busy="documentPromise" style="display: none;">
                                <div id="div-screenshot" style="display: none; width: auto;height: auto;">
                                    <ng-include src="{{ '\'' ~ asset('bundles/zectranet/templates/attachments.html') ~ '\'' }}"></ng-include>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include '@Zectranet/dialogAdd.html.twig' %}
                </div>
            </div>
        </div>
        <!-- End of Task Nav Tabs ---->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var getDocuments_;
        JSON_URLS.documentsGet = "{{ path('zectranet_document_get') }}";
        JSON_URLS.addPost = "{{ path('zectranet_task_add_post', { 'task_id': task.id }) }}";
        JSON_URLS.getPosts = "{{ path('zectranet_task_get_post', { 'task_id': task.id }) }}";
        JSON_URLS.InsertScreenshotsInPHP = "{{ path('zectranet_InsertScreenshotsInPHP') }}";
        JSON_URLS.userPage = "{{ path('zectranet_user_page', {'user_id': 0}) }}";
        TEMPPARAMS.TASK_ID = {{ task.id }};
        JSON_URLS.editPost = "{{ path('zectranet_task_post_edit', { 'post_id': 0 }) }}";
    </script>
    <script src="{{ asset('bundles/zectranet/js/custom/taskController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/custom/chatController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/custom/documentsController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/upload/jquery.knob.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/upload/jquery.ui.widget.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/upload/jquery.iframe-transport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/upload/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/zectranet/js/upload/script.js') }}" type="text/javascript"></script>


{% endblock %}