{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ user.username }} Profile{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h3><i class="fa fa-user fa-2x"></i> My Profile</h3>
            </div>

            <div class="col-md-2">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img-responsive" src="{{ asset('') }}documents/{{ user.avatar }}" style="width: auto; max-width: 100%; max-height: 100%;">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-12">
                        <button class="center-block btn btn-default btn-success" type="button">
                            Send Message
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-10">
                <p><strong>Name: </strong> {{ user.name }}</p>
                <p><strong>Surname: </strong> {{ user.surname }}</p>
                <p><strong>Username: </strong> {{ user.username }}</p>
                <hr>
                <p><strong>Country: </strong> Under Construction</p>
                <p><strong>City: </strong> Under Construction</p>
                <hr>
                <p><strong>About Me: </strong>Under Construction</p>
                <hr>
                <p><strong>Work Experience: </strong>
                    <span class="label label-info">
                        Under Construction
                    </span>
                </p>
                <hr>
                <p><strong>Study: </strong>Under Construction</p>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12">
            <hr>
            <p align="center"><strong>Daily TimeSheet:</strong></p>
            {% if user.wde | length == 0 %}
                <h4 class="text-center text-info">WDE will be displayed here</h4>
            {% else %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Start In Office</th>
                        <th>Start Lunch</th>
                        <th>End Lunch</th>
                        <th>End In Office</th>
                        <th>Total hours</th>
                        <th>Main Task</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in 0..user.wde | length - 1 %}
                        <tr>
                            <td>
                                {{ i + 1 }}
                            </td>
                            <td>
                                {{ user.wde[i].date | date("Y-m-d")  }}
                            </td>
                            <td>
                                {{ user.wde[i].startTime | date("H:i") }}
                            </td>
                            <td>
                                {{ user.wde[i].beginLunch | date("H:i") }}
                            </td>
                            <td>
                                {{ user.wde[i].endLunch | date("H:i") }}
                            </td>
                            <td>
                                {{ user.wde[i].endTime | date("H:i") }}
                            </td>
                            <td>
                                {{ user.wde[i].hours }}
                            </td>
                            <td>
                                {{ user.wde[i].mainTask }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}