{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ user.username }} Profile{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h3 style="font-size: 30px; font-family: 'PT Sans Narrow', sans-serif; font-weight: bold;"> {{ user.name }} {{ user.surname }}</h3>
            </div>

            <div class="col-md-2">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img-responsive" src="{{ asset('') }}documents/{{ user.avatar }}">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-12">
                        <div class="btn-group btn-group-vertical" style="width: 100%;">
                            {% if app.user.id == user.id %}
                                <a href="{{ path('zectranet_generate_avatar') }}" class="btn btn-default btn-warning">
                                    Generate avatar
                                </a>
                                <a href="{{ path('zectranet_edit_user_page') }}" class="btn btn-primary btn-default">
                                    Edit profile
                                </a>
                            {% else %}
                                <a class="btn btn-default btn-success">
                                    Add to contact list
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10">
                <p><strong>Username: </strong> {{ user.username }}</p>
                <hr>
                {% if userInfo.residenceCountryVisible %}
                <p><strong>Country: </strong> {{ (userInfo.residenceCountry) ? userInfo.residenceCountry : '-' }}</p>
                <hr>
                {% endif %}
                <p><strong>Email: </strong> {{ user.email }}</p>
                <hr>
                {% if userInfo.workExpirienceVisible %}
                <p><strong>Work Experience: </strong> {{ (userInfo.workExpirience) ? userInfo.workExpirience : '-' }}</p>
                <hr>
                {% endif %}
                {% if userInfo.skillsVisible %}
                <p><strong>Skills: </strong> {{ (userInfo.skills) ? userInfo.skills : '-' }}</p>
                <hr>
                {% endif %}
                {% if userInfo.interestsVisible %}
                <p><strong>Intersts: </strong> {{ (userInfo.interests) ? userInfo.interests : '-' }}</p>
                <hr>
                {% endif %}
                {% if userInfo.volunteerWorkVisible %}
                <p><strong>Volunteer Work: </strong> {{ (userInfo.volunteerWork) ? userInfo.volunteerWork : '-' }}</p>
                <hr>
                {% endif %}
                {% if userInfo.facebookVisible %}
                <p><strong>Facebook: </strong>
                    {% if userInfo.facebook %}
                        <a href="{{ userInfo.facebook }}">link</a>
                    {% else %}
                        -
                    {% endif %}
                </p>
                <hr>
                {% endif %}
                {% if userInfo.twitterVisible %}
                <p><strong>Twitter: </strong>
                    {% if userInfo.twitter %}
                        <a href="{{ userInfo.twitter }}">link</a>
                    {% else %}
                        -
                    {% endif %}
                </p>
                <hr>
                {% endif %}
                {% if userInfo.linkedInVisible %}
                <p><strong>LinkedIn: </strong>
                    {% if userInfo.linkedIn %}
                        <a href="{{ userInfo.linkedIn }}">link</a>
                    {% else %}
                        -
                    {% endif %}
                </p>
                <hr>
                {% endif %}
                {% if userInfo.googlePlusVisible %}
                <p><strong>Google+: </strong>
                    {% if userInfo.googlePlus %}
                        <a href="{{ userInfo.googlePlus }}">link</a>
                    {% else %}
                        -
                    {% endif %}
                </p>
                <hr>
                {% endif %}

        </div>
    </div>

        {% if user.id == app.user.id %}
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-xs-12">
                <hr>
                <p align="center"><strong>Daily TimeSheet:</strong></p>
                {% if user.wde | length == 0 %}
                    <h4 class="text-center text-info">WDE will be displayed here</h4>
                {% else %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Start In Office</th>
                            <th>Start Lunch</th>
                            <th>End Lunch</th>
                            <th>End In Office</th>
                            <th>Total hours</th>
                            <th>Main Task</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in 0..user.wde | length - 1 %}
                            <tr>
                                <td>
                                    {{ i + 1 }}
                                </td>
                                <td>
                                    {{ user.wde[i].date | date("Y-m-d")  }}
                                </td>
                                <td>
                                    {{ user.wde[i].startTime is empty ? "-": user.wde[i].startTime | date("H:i") }}
                                </td>
                                <td>
                                    {{ user.wde[i].beginLunch is empty ? "-": user.wde[i].beginLunch | date("H:i") }}
                                </td>
                                <td>
                                    {{ user.wde[i].endLunch is empty ? "-": user.wde[i].endLunch | date("H:i") }}
                                </td>
                                <td>
                                    {{ user.wde[i].endTime is empty ? "-": user.wde[i].endTime | date("H:i") }}
                                </td>
                                <td>
                                    {{ user.wde[i].hours is empty ? "-": user.wde[i].hours }}
                                </td>
                                <td>
                                    {{ user.wde[i].mainTask is empty ? "-": user.wde[i].mainTask }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
        {% endif %}
{% endblock %}

{% block modals %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}