{% extends '@Zectranet/index.html.twig' %}

{% block title %}Hello {{ app.user.name }} {% endblock %}

{% block body %}
    <div class="page-header">
        <span style="font-size: 25px;">Hello, {{ app.user.name }}</span>
    </div>

    <!-- Begin of Private block -->
    <div class="row">


        <!-- Begin of Private Offices -->
        <div class="col-md-4 private-office">
            <div class="panel panel-default" style=" border-radius: 0px;">
                <div class="panel-heading" style="background:#ddedf4; color:#606060; border-radius: 0px;">
                    <h4 class="private-office"><i class="fa fa-home"></i> Private Offices</h4>

                        <a style="float: right; position: relative; margin-top: -25px; color:#606060 !important;" class="addnew-btn-hover hidden-md" data-toggle="modal" data-target="#add_private_office" href="#">
                            <i class="fa fa-plus-circle"></i> New Offices
                        </a>
                        <a style="color:#606060 !important;" class="addnew-btn-hover visible-md" data-toggle="modal" data-target="#add_private_office" href="#">
                            <i class="fa fa-plus-circle"></i> New Offices
                        </a>
                </div>
                <div class="row">
                    {% set officesCount = app.user.ownedOffices | length %}

                    {% if officesCount == 0 %}
                        <div class="col-xs-12" style="min-height: 50px;">
                            <div style=" min-height: 50px;">
                                <h4 class="text-center" style="padding-top:15px;color:#606060;">Offices will be displayed here</h4>
                            </div>
                        </div>
                    {% endif %}

                    {% for office in app.user.ownedOffices | reverse | slice(0, 3) %}
                        <a href="{{ path('zectranet_show_office', {'office_id': office.id}) }}">
                            <div class="col-xs-3 hidden-md" style="margin-top:5px;">
                                <img src="{{ asset('bundles/zectranet/img/officeimg.png') }}" height="80">
                            </div>
                            <div class="col-xs-9" style="min-height: 85px;">
                                <h4> <i class="fa fa-home"></i> {{ office.name }} </h4>
                                <p style="padding-left:8px;"> {{ office.description }}</p>
                            </div>
                        </a>
                    {% endfor %}

                    <div id="private_office_collapse" class="panel-collapse collapse" aria-expanded="false">
                        {% for office in app.user.ownedOffices | reverse | slice(3, officesCount) %}
                            <a href="{{ path('zectranet_show_office', {'office_id': office.id}) }}">
                                <div class="col-xs-3 hidden-md" style="margin-top:5px;">
                                    <img src="{{ asset('bundles/zectranet/img/officeimg.png') }}" height="80">
                                </div>
                                <div class="col-xs-9" style="min-height: 85px;">
                                    <h4> <i class="fa fa-home"></i> {{ office.name }} </h4>
                                    <p style="padding-left:8px;"> Hello world its to</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>

                    {% if officesCount > 3 %}
                    <div class="col-xs-12" style="min-height: 50px;">
                        <a class="addnew-btn-hover" data-toggle="collapse" href="#private_office_collapse" aria-expanded="false" >
                            <div class="addnew-btn">
                                <h4 class="text-center" style="padding-top:15px;color:#606060;"> <i class="fa fa-list-alt"></i> Show all</h4>
                            </div>
                        </a>
                    </div>
                    {% endif %}


                </div>
            </div>
            {#ends.panel default#}
        </div>
        <!-- End of Private Offices -->


        <!-- Begin of Private Projects -->
    <div class="col-md-4 private-office">
    <div class="panel panel-default" style=" border-radius: 0px;">
        <div class="panel-heading" style="background:#ddedf4; color:#606060; border-radius: 0px;">
            <h4 class="private-office"><i class="fa fa-briefcase"></i> Private Projects </h4>

            <a style="float: right; position: relative; margin-top: -25px; color:#606060 !important;" class="addnew-btn-hover hidden-md" data-toggle="modal" data-target="#add_private_project" href="#">
                <i class="fa fa-plus-circle"></i> New project
            </a>
            <a style="color:#606060 !important;" class="addnew-btn-hover visible-md" data-toggle="modal" data-target="#add_private_project" href="#">
                <i class="fa fa-plus-circle"></i> New project
            </a>

        </div>
        <div class="row">

            {% set projectsCount = 0 %}
            {% for project in app.user.ownedProjects %}
                {% if project.parent == null %}
                    {% set projectsCount = projectsCount + 1 %}
                {% endif %}
            {% endfor %}

            {% if projectsCount == 0 %}
                <div class="col-xs-12" style="min-height: 50px;">
                    <div style=" min-height: 50px;">
                        <h4 class="text-center" style="padding-top:15px;color:#606060;">Projects will be displayed here</h4>
                    </div>
                </div>
            {% endif %}

            {% for project in app.user.ownedProjects | reverse | slice(0, 3) %}
                {% if project.parent == null %}
                    <a href="{{ path('zectranet_show_project', {'project_id': project.id }) }}">
                        <div class="col-xs-3 hidden-md" style="margin-top:5px;">
                            <img src="{{ asset('bundles/zectranet/img/projectimg.png') }}" height="80">
                        </div>
                        <div class="col-xs-9" style="min-height: 85px;">
                            <h4> <i class="fa fa-home"></i> {{ project.name }}</h4>
                            <p style="padding-left:8px;"> {{ project.description }}</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}

            <div id="private_project_collapse" class="panel-collapse collapse" aria-expanded="false">
                {% for project in app.user.ownedProjects | reverse | slice(3, projectsCount) %}
                    {% if project.parent == null %}
                        <a href="{{ path('zectranet_show_project', {'project_id': project.id }) }}">
                            <div class="col-xs-3 hidden-md" style="margin-top:5px;">
                                <img src="{{ asset('bundles/zectranet/img/projectimg.png') }}" height="80">
                            </div>
                            <div class="col-xs-9" style="min-height: 85px;">
                                <h4> <i class="fa fa-home"></i> {{ project.name }}</h4>
                                <p style="padding-left:8px;"> {{ project.description }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            {% if projectsCount > 3 %}
                <div class="col-xs-12" style="min-height: 50px;">
                    <a class="addnew-btn-hover" data-toggle="collapse" href="#private_project_collapse" aria-expanded="false" >
                        <div class="addnew-btn">
                            <h4 class="text-center" style="padding-top:15px;color:#606060;"> <i class="fa fa-list-alt"></i> Show all</h4>
                        </div>
                    </a>
                </div>
            {% endif %}


            </div>
        </div>
        </div>
        <!-- End of Private Projects -->

        <!-- Begin of Private Sprints -->
        <div class="col-md-4 private-office">
        <div class="panel panel-default" style=" border-radius: 0px;">
            <div class="panel-heading" style="background:#ddedf4; color:#606060; border-radius: 0px;">
            <h4 class="private-office"><i class="fa fa-repeat"></i> Owned Sprints </h4>
            </div>
            <div class="row">

            {% set sharedSprints = [] %}
            {% for office in app.user.ownedOffices %}
                {% if office.sprints | length > 0 %}
                    {% for sprint in office.sprints %}
                        {% set sharedSprints = sharedSprints | merge([sprint]) %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            {% set sprintsCount = sharedSprints | length %}

            {% if sprintsCount == 0 %}
                <div class="col-xs-12" style="min-height: 50px;">
                    <div style=" min-height: 50px;">
                        <h4 class="text-center" style="padding-top:15px;color:#606060;">Sprints will be displayed here</h4>
                    </div>
                </div>
            {% endif %}

            {% for sprint in sharedSprints | reverse | slice(0, 3) %}
                <a href="{{ path('zectranet_show_project', {'project_id': sprint.id }) }}">
                    <div class="col-xs-3 hidden-md" style="margin-top:5px;">
                        <img src="{{ asset('bundles/zectranet/img/sprintimg.png') }}" height="80">
                    </div>
                    <div class="col-xs-9" style="min-height: 85px;">
                        <h4> <i class="fa fa-home"></i> {{ sprint.name }}</h4>
                        <p style="padding-left:8px;"> {{ sprint.description }}</p>
                    </div>
                </a>
            {% endfor %}
            <div id="connected_sprint_collapse" class="panel-collapse collapse" aria-expanded="false">
                {% for sprint in sharedSprints | reverse | slice(3, sprintsCount) %}
                    <a href="{{ path('zectranet_show_project', {'project_id': sprint.id }) }}">
                        <div class="col-xs-3 hidden-md" style="margin-top:5px;">
                            <img src="{{ asset('bundles/zectranet/img/sprintimg.png') }}" height="80">
                        </div>
                        <div class="col-xs-9" style="min-height: 85px;">
                            <h4> <i class="fa fa-home"></i> {{ sprint.name }}</h4>
                            <p style="padding-left:8px;"> {{ sprint.description }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>

                {% if sprintsCount > 3 %}
                    <div class="col-xs-12" style="min-height: 50px;">
                        <a class="addnew-btn-hover" data-toggle="collapse" href="#connected_sprint_collapse" aria-expanded="false" >
                            <div class="addnew-btn">
                                <h4 class="text-center" style="padding-top:15px;color:#606060;"> <i class="fa fa-list-alt"></i> Show all</h4>
                            </div>
                        </a>
                    </div>
                {% endif %}


            </div>
            </div>
        </div>
        <!-- End of Shared Sprints -->

    </div>
    <!-- End of Private block -->

    <!-- Begin of Shared block -->
    <div class="row">

        <!-- Begin of Shared Offices -->
    <div class="col-md-4 private-office">
    <div class="panel panel-default" style=" border-radius: 0px;">
        <div class="panel-heading" style="background:#ddedf4; color:#606060; border-radius: 0px;">
            <h4 class="private-office"><i class="fa fa-sitemap"></i>  Connected Offices </h4>
        </div>
        <div class="row">
            {% set officesCount = app.user.assignedOffices | length %}

            {% if officesCount == 0 %}
                <div class="col-xs-12" style="min-height: 50px;">
                    <div style=" min-height: 50px;">
                        <h4 class="text-center" style="padding-top:15px;color:#606060;">Offices will be displayed here</h4>
                    </div>
                </div>
            {% endif %}

            {% for office in app.user.assignedOffices | reverse | slice(0, 3) %}
                <a href="{{ path('zectranet_show_office', {'office_id': office.id}) }}">
                    <div class="col-xs-3 hidden-md" style="margin-top:5px;">
                        <img src="{{ asset('bundles/zectranet/img/officeimg.png') }}" height="80">
                    </div>
                    <div class="col-xs-9" style="min-height: 85px;">
                        <h4> <i class="fa fa-sitemap"></i> {{ office.name }}</h4>
                        <p style="padding-left:8px;"> {{ office.description }}</p>
                    </div>
                </a>
            {% endfor %}

            <div id="connected_office_collapse" class="panel-collapse collapse" aria-expanded="false">
                {% for office in app.user.assignedOffices | reverse | slice(3, officesCount) %}
                    <a href="{{ path('zectranet_show_office', {'office_id': office.id}) }}">
                        <div class="col-xs-3 hidden-md" style="margin-top:5px;">
                            <img src="{{ asset('bundles/zectranet/img/officeimg.png') }}" height="80">
                        </div>
                        <div class="col-xs-9" style="min-height: 85px;">
                            <h4> <i class="fa fa-sitemap"></i> {{ office.name }}</h4>
                            <p style="padding-left:8px;"> {{ office.description }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>

            {% if officesCount > 3 %}
                <div class="col-xs-12" style="min-height: 50px;">
                    <a class="addnew-btn-hover" data-toggle="collapse" href="#connected_office_collapse" aria-expanded="false" >
                        <div class="addnew-btn">
                            <h4 class="text-center" style="padding-top:15px;color:#606060;"> <i class="fa fa-list-alt"></i> Show all</h4>
                        </div>
                    </a>
                </div>
            {% endif %}

            </div>
        </div>
        </div>
        <!-- End of Shared Offices -->

        <!-- Begin of Shared Projects -->
    <div class="col-md-4 private-office">
    <div class="panel panel-default" style=" border-radius: 0px;">
        <div class="panel-heading" style="background:#ddedf4; color:#606060; border-radius: 0px;">
            <h4 class="private-office"><i class="fa fa-briefcase"></i> Connected Projects </h4>
        </div>
        <div class="row">
            {% set connectedProjects = [] %}
            {% for project in app.user.projects %}
                {% set connectedProjects = connectedProjects | merge([project]) %}
            {% endfor %}
            {% for office in app.user.ownedOffices %}
                {% for project in office.projects if project not in connectedProjects and project not in app.user.projects and project.parentid == null %}
                    {% set connectedProjects = connectedProjects | merge([project]) %}
                {% endfor %}
            {% endfor %}
            {% for office in app.user.assignedOffices %}
                {% for project in office.projects if project not in connectedProjects and project not in app.user.projects and project.parentid == null %}
                    {% set connectedProjects = connectedProjects | merge([project]) %}
                {% endfor %}
            {% endfor %}

            {% set projectsCount = connectedProjects | length %}

            {% if projectsCount == 0 %}
                <div class="col-xs-12" style="min-height: 50px;">
                    <div style=" min-height: 50px;">
                        <h4 class="text-center" style="padding-top:15px;color:#606060;">Projects will be displayed here</h4>
                    </div>
                </div>
            {% endif %}

            {% for project in connectedProjects | slice(0, 3) %}
                {% if project.parent == null %}
                    <a href="{{ path('zectranet_show_project', {'project_id': project.id }) }}">
                        <div class="col-xs-3 hidden-md" style="margin-top:5px;">
                            <img src="{{ asset('bundles/zectranet/img/projectimg.png') }}" height="80">
                        </div>
                        <div class="col-xs-9" style="min-height: 85px;">
                            <h4> <i class="fa fa-sitemap"></i> {{ project.name }}</h4>
                            <p style="padding-left:8px;"> {{ project.description }}</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}

            <div id="connected_project_collapse" class="panel-collapse collapse" aria-expanded="false">
                {% for project in connectedProjects | slice(3, projectsCount) %}
                    {% if project.parent == null %}
                        <a href="{{ path('zectranet_show_project', {'project_id': project.id }) }}">
                            <div class="col-xs-3 hidden-md" style="margin-top:5px;">
                                <img src="{{ asset('bundles/zectranet/img/projectimg.png') }}" height="80">
                            </div>
                            <div class="col-xs-9" style="min-height: 85px;">
                                <h4> <i class="fa fa-sitemap"></i> {{ project.name }}</h4>
                                <p style="padding-left:8px;"> {{ project.description }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>


            {% if projectsCount > 3 %}
                <div class="col-xs-12" style="min-height: 50px;">
                    <a class="addnew-btn-hover" data-toggle="collapse" href="#connected_project_collapse" aria-expanded="false" >
                        <div class="addnew-btn">
                            <h4 class="text-center" style="padding-top:15px;color:#606060;"> <i class="fa fa-list-alt"></i> Show all</h4>
                        </div>
                    </a>
                </div>
            {% endif %}



            </div>
        </div>
        </div>
        <!-- End of Shared Projects -->

        <!-- Begin of Shared Sprints -->
    <div class="col-md-4 private-office">
    <div class="panel panel-default" style=" border-radius: 0px;">
        <div class="panel-heading" style="background:#ddedf4; color:#606060; border-radius: 0px;">
            <h4 class="private-office"><i class="fa fa-repeat"></i>  Connected Offices </h4>
        </div>
        <div class="row">

            {% set sharedSprints = [] %}
            {% for office in app.user.assignedOffices %}
                {% if office.sprints | length > 0 %}
                    {% for sprint in office.sprints %}
                        {% set sharedSprints = sharedSprints | merge([sprint]) %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            {% set sprintsCount = sharedSprints | length %}

            {% if sprintsCount == 0 %}
                <div class="col-xs-12" style="min-height: 50px;">
                    <div style=" min-height: 50px;">
                        <h4 class="text-center" style="padding-top:15px;color:#606060;">Sprints will be displayed here</h4>
                    </div>
                </div>
            {% endif %}

            {% for sprint in sharedSprints | reverse | slice(0, 3) %}
                <a href="{{ path('zectranet_show_project', {'project_id': sprint.id }) }}">
                    <div class="col-xs-3 hidden-md" style="margin-top:5px;">
                        <img src="{{ asset('bundles/zectranet/img/sprintimg.png') }}" height="80">
                    </div>
                    <div class="col-xs-9" style="min-height: 85px;">
                        <h4> <i class="fa fa-repeat"></i> {{ sprint.name }}</h4>
                        <p style="padding-left:8px;"> {{ sprint.description }}</p>
                    </div>
                </a>
            {% endfor %}
            <div id="connected_sprint_collapse" class="panel-collapse collapse" aria-expanded="false">
                {% for sprint in sharedSprints | reverse | slice(3, sprintsCount) %}
                    <a href="{{ path('zectranet_show_project', {'project_id': sprint.id }) }}">
                        <div class="col-xs-3 hidden-md" style="margin-top:5px;">
                            <img src="{{ asset('bundles/zectranet/img/sprintimg.png') }}" height="80">
                        </div>
                        <div class="col-xs-9" style="min-height: 85px;">
                            <h4> <i class="fa fa-repeat"></i> {{ sprint.name }}</h4>
                            <p style="padding-left:8px;"> {{ sprint.description }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>

            {% if projectsCount > 3 %}
                <div class="col-xs-12" style="min-height: 50px;">
                    <a class="addnew-btn-hover" data-toggle="collapse" href="#connected_sprint_collapse" aria-expanded="false" >
                        <div class="addnew-btn">
                            <h4 class="text-center" style="padding-top:15px;color:#606060;"> <i class="fa fa-list-alt"></i> Show all</h4>
                        </div>
                    </a>
                </div>
            {% endif %}



        </div>
    </div>
    </div>
        <!-- End of Shared Sprints -->

    </div>
    <!-- End of Shared block -->

{% endblock %}